//カラー系
[class*='-c:'] {
	color: var(--c) !important;
}
.-c\:main {
	--c: var(--main);
}
.-c\:accent {
	--c: var(--accent);
}
.-c\:base {
	--c: var(--c--base);
}
.-c\:pale {
	--c: var(--c--pale);
}
.-c\:opposite {
	--c: var(--c--opposite);
}

// .-c\:white {
// 	--c: var(--white);
// 	--c--opposite: var(--black);
// }
// .-c\:black {
// 	--c: var(--black);
// 	--c--opposite: var(--white);
// }

// .-c\:current{--c: currentColor;}

[class*='-bgc:'] {
	background-color: var(--bgc) !important;
}
.-bgc\:main {
	--bgc: var(--main);
}
.-bgc\:accent {
	--bgc: var(--accent);
}
// .-bgc\:white {
// 	--bgc: var(--white);
// }
// .-bgc\:black {
// 	--bgc: var(--black);
// }
.-bgc\:base {
	--bgc: var(--bgc--base);
}
.-bgc\:pale {
	--bgc: var(--bgc--pale);
}
.-bgc\:strong {
	--bgc: var(--bgc--strong);
}
.-bgc\:opposite {
	--bgc: var(--bgc--opposite);
}
.-bgc\:cc {
	--bgc: currentColor;
}
// .-bgc\:i {
// 	--bgc: inherit;
// }
.-bgc\:t {
	--bgc: transparent;
}
.-bgc\:black {
	--bgc: hsl(var(--black-hsl), var(--bgc--alpha));
}
@supports (color: color-mix(in srgb, #000, #fff)) {
	.-bgc\:opacity {
		background-color: color-mix(
			in srgb,
			var(--bgc),
			transparent calc(100% - 100% * var(--bgc-opacity))
		) !important;
	}
}

// --keycolor : 1つのカラーをもとにスタイリングしたいときに活用する。 cbox,outline,fillなどで使っている
// [class*='-keycolor:'][data-variant='fill'] {
// 	--c: var(--keycolor--c, var(--c--filled));
// }

.-keycolor\:main {
	--keycolor: var(--main);
	// --keycolor--c: var(--main--c);
}
.-keycolor\:accent {
	--keycolor: var(--accent);
	// --keycolor--c: var(--accent--c);
}
.-keycolor\:gray {
	--keycolor: var(--gray);
	// --keycolor--c: var(--gray--c);
}
.-keycolor\:red {
	--keycolor: var(--red);
	// --keycolor--c: var(--red--c);
}
.-keycolor\:orange {
	--keycolor: var(--orange);
	// --keycolor--c: var(--orange--c);
}
.-keycolor\:yellow {
	--keycolor: var(--yellow);
	// --keycolor--c: var(--yellow--c);
}
.-keycolor\:green {
	--keycolor: var(--green);
	// --keycolor--c: var(--green--c);
}
.-keycolor\:blue {
	--keycolor: var(--blue);
	// --keycolor--c: var(--blue--c);
}
.-keycolor\:purple {
	--keycolor: var(--purple);
	// --keycolor--c: var(--purple--c);
}
.-keycolor\:pink {
	--keycolor: var(--pink);
	// --keycolor--c: var(--pink--c);
}
.-keycolor\:custom {
	// --keycolor: var(--pink);
	// --keycolor--c: var(--pink--c);
}
// .-keycolor\:basic {
// 	--keycolor: var(--b900);
// 	--keycolor--c: var(--b50);
// }
