//カラー系
[class*='-c:'] {
	color: var(--c) !important;
}
.-c\:main {
	--c: var(--color--main);
}
.-c\:accent {
	--c: var(--color--accent);
}
.-c\:base {
	--c: var(--c--base);
}
.-c\:pale {
	--c: var(--c--pale);
	// opacity: 0.7;
}
.-c\:opposite {
	--c: var(--c--opposite);
	// opacity: 0.7;
}

.-c\:white {
	--c: var(--color--white);
}
.-c\:black {
	--c: var(--color--black);
}

// .-c\:current{--c: currentColor;}

[class*='-bgc:'] {
	background-color: var(--bgc) !important;
}
.-bgc\:main {
	--bgc: var(--color--main);
}
.-bgc\:accent {
	--bgc: var(--color--accent);
}
.-bgc\:white {
	--bgc: var(--color--white);
}
.-bgc\:black {
	--bgc: var(--color--black);
}
.-bgc\:base {
	--bgc: var(--bg--base);
}
.-bgc\:pale {
	--bgc: var(--bgc--pale);
}
.-bgc\:strong {
	--bgc: var(--bgc--strong);
	color: var(--c--opposite);
}
.-bgc\:cc {
	--bgc: currentColor;
}
.-bgc\:t {
	--bgc: transparent;
}

// --keycolor : 1つのカラーをもとにスタイリングしたいときに活用する。 cbox,outline,fillなどで使っている
// .-keycolor\:{&}
.-keycolor\:current {
	--keycolor: currentColor;
}
.-keycolor\:main {
	--keycolor: var(--color--main);
}
.-keycolor\:accent {
	--keycolor: var(--color--accent);
}
.-keycolor\:nuetral {
	--keycolor: var(--color--n300);
}
.-keycolor\:red {
	--keycolor: var(--color--red);
}
.-keycolor\:orange {
	--keycolor: var(--color--orange);
}
.-keycolor\:yellow {
	--keycolor: var(--color--yellow);
}
.-keycolor\:green {
	--keycolor: var(--color--green);
}
.-keycolor\:blue {
	--keycolor: var(--color--blue);
}
.-keycolor\:purple {
	--keycolor: var(--color--purple);
}
.-keycolor\:pink {
	--keycolor: var(--color--pink);
}
