@use '../query' as query;

[class*='-gap:'] {
	gap: var(--gap);
}
[class*='-clmg:'] {
	column-gap: var(--clmg) !important;
}
[class*='-rowg:'] {
	row-gap: var(--rowg) !important;
}
// gapX, gapY? tailwind: gap-x, gap-y
// colm
@include query.cq('sm') {
	.-gap\@sm\: {
		gap: var(--gap--sm) !important;
	}
	.-clmg\@sm\: {
		column-gap: var(--clmg--sm) !important;
	}
	.-rowg\@sm\: {
		row-gap: var(--rowg--sm) !important;
	}
}
@include query.cq('md') {
	.-gap\@md\: {
		gap: var(--gap--md) !important;
	}
	.-clmg\@md\: {
		column-gap: var(--clmg--md) !important;
	}
	.-rowg\@md\: {
		row-gap: var(--rowg--md) !important;
	}
}
@include query.cq('lg') {
	.-gap\@lg\: {
		gap: var(--gap--lg) !important;
	}
	.-clmg\@lg\: {
		column-gap: var(--clmg--lg) !important;
	}
	.-rowg\@lg\: {
		row-gap: var(--rowg--lg) !important;
	}
}
