@use '../setting' as setting;

/* stylelint-disable */

[class*='-gap:'] {gap: var(--gap);}
.-colg\: {column-gap: var(--colg);}
.-rowg\: {row-gap: var(--rowg);}

.-gap\:0 {--gap: 0;}

@each $s in setting.$util_spaces {
	.-gap\:#{$s} {--gap: var(--s--#{$s});}
	// .-colg\:#{$s} {--colg: var(--s--#{$s})}
	// .-rowg\:#{$s} {--rowg: var(--s--#{$s})}
}

@each $em in setting.$util_em_tokens {
	.-gap\:em#{$em} {--gap: var(--em--#{$em});}
}
