// .-hov\: ユーティリティ

[class*='-hov:'] {
	transition: filter, opacity, visibility, box-shadow, translate, scale, border, color,
		background-color;
	transition-duration: var(--hov--duration);
	// transition: all var(--hov--duration);
}

// ------------------------------------------------------------
// 値指定
// ------------------------------------------------------------
// .-hov\:duration\:{}
.-hov\:c:hover {
	color: var(--hov--c) !important;
}
.-hov\:bdc:hover {
	border-color: var(--hov--bdc) !important;
}

:where(.-hov\:bgc) {
	--hov--bgc: var(--bgc--pale);
}
.-hov\:bgc:hover {
	background-color: var(--hov--bgc) !important;
}

:where(.-hov\:shadow) {
	--hov--shadow: var(--shadow--4);
}
.-hov\:shadow:hover {
	// shadowユーティリティに負けないように important
	box-shadow: var(--hov--shadow) !important;
}

.-hov\:filter:hover {
	filter: var(--hov--filter) !important;
}

// .-hov\:bgc\:b100 {
// 	--hov--bgc: var(--b100);
// }
// .-hov\:bgc\:b200 {
// 	--hov--bgc: var(--b200);
// }
// .-hov\:bgc\:b900 {
// 	--hov--bgc: var(--b900);
// }
// ------------------------------------------------------------
// プリセット
// ------------------------------------------------------------
.-hov\:fade:hover {
	opacity: 0.75;
}
.-hov\:up:hover {
	translate: 0 -3px;
}

:where(.-hov\:reverse) {
	--hov--c: var(--bgc);
	--hov--bgc: var(--c);
}

.-hov\:reverse:hover {
	background-color: var(--hov--bgc) !important;
	color: var(--hov--c) !important;
}

// ↓ 追加パックにいれる？
// .-hov\:dark:hover {
// 	filter: brightness(0.8) contrast(1.2); //grayscale(5%);
// }
// .-hov\:bright:hover {
// 	filter: brightness(1.2) contrast(1.2); //grayscale(5%);
// }
// .-hov\:scale:hover {
// 	scale: 1.05;
// }

// ------------------------------------------------------------
// hov:media:
// ------------------------------------------------------------

// pass-get/ privide-get/throw-get/parent-child/
.-hov\:pass {
	--isHover: 0;
	// --hide2show: hidden;
	// --show2hide: visible;
	&:hover {
		--isHover: 1;
	}
}

// .-hov\:get\:show
.-hov\:get\:show {
	opacity: 0;
	visibility: hidden;

	.-hov\:pass:hover & {
		opacity: 1;
		visibility: visible;
	}
}
.-hov\:get\:hide {
	opacity: calc(1 - 1 * var(--isHover, 0));
}
.-hov\:get\:zoom {
	scale: calc(1 + 0.1 * var(--isHover, 0));
}

// [class*='-hov:media'] {
// 	--hov--filter: unset;
// 	--hov--scale: unset;
// 	--hov--translate: unset;
// }

// .-hov:media:XXX で変化可能なメディア
// .is--transitionMedia,
// .is--hovMedia {
// 	// .-hov:media:用
// 	scale: var(--hov--scale);
// 	filter: var(--hov--filter);
// 	transition: all var(--hov--duration);
// }

// [data-hov-media="media:zoom media:bright"]

// .-hov\:media\:zoom:hover {
// 	--hov--scale: 1.1;
// }
// ※ filter どうしの同時使用はできないことに注意
// .-hov\:media\:dark:hover {
// 	--hov--filter: brightness(0.85);
// }
// .-hov\:media\:bright:hover {
// 	--hov--filter: brightness(1.15);
// }
// .-hov\:target\:blur:hover {
// 	--hov--filter: blur(4px);
// }

// ; transform: trf
// hov: {c, bgc, bdc, radius, shadow, transform?, filter?}
