@use '../query' as query;

/* stylelint-disable */

.-order\:1 {order: 1;}
.-order\:0 {order: 0;}
.-order\:-1 {order: -1;}

// .-fx\:{ flex: var(--fx)}
.-fxg\: {flex-grow: var(--fxg)}
.-fxsh\: {flex-shrink: var(--fxsh)}
.-fxb\: {flex-basis: var(--fxb)}

.-fxg\:1 {flex-grow: 1}
.-fxg\:0 {flex-grow: 0}

.-fxsh\:1 {flex-shrink: 1}
.-fxsh\:0 {flex-shrink: 0}

// .-fxb\:100 {flex-basis:100%}
// .-fxb\:a {flex-basis:auto}


.-ga\:{grid-area: var(--ga)}
.-gc\:{grid-column: var(--gc)}
.-gr\:{grid-row: var(--gr)}


.-ga\:fix{grid-area: fix;}
.-ga\:l{grid-area: left;}
.-ga\:r{grid-area: right;}
.-ga\:c{grid-area: center;}
.-ga\:t{grid-area: top;}
.-ga\:b{grid-area: bottom;}
// .-ga\:header{--ga: header;}
// .-ga\:footer{--ga: footer;}
// .-ga\:body{--ga: body;}


// -self系 → そこまで使われるものではないのでシンプルにstyle属性で出力.
// .-as\:{align-self:var(--as) !important;}
// .-js\:{justify-self:var(--js) !important;}


@include query.cq('sm'){
	.-fxg\@sm\: { flex-grow: var(--fxg--sm)}
	.-fxsh\@sm\: { flex-shrink: var(--fxsh--sm)}
	.-fxb\@sm\: { flex-basis: var(--fxb--sm)}
	// .-fx\@sm\:{ flex: var(--fx--sm)}
	.-gc\@sm\: { grid-column: var(--gc--sm)}
	.-gr\@sm\: { grid-row: var(--gr--sm)}
}
@include query.cq('md'){
	.-fxg\@md\: { flex-grow: var(--fxg--md)}
	.-fxsh\@md\: { flex-shrink: var(--fxsh--md)}
	.-fxb\@md\: { flex-basis: var(--fxb--md)}
	// .-fx\@md\:{ flex: var(--fx--md)}
	.-gc\@md\: { grid-column: var(--gc--md)}
	.-gr\@md\: { grid-row: var(--gr--md)}
}
@include query.cq('lg'){
	.-fxg\@lg\: { flex-grow: var(--fxg--lg)}
	.-fxsh\@lg\: { flex-shrink: var(--fxsh--lg)}
	.-fxb\@lg\: { flex-basis: var(--fxb--lg)}
	// .-fx\@lg\:{ flex: var(--fx--lg)}
	.-gc\@lg\: { grid-column: var(--gc--lg)}
	.-gr\@lg\: { grid-row: var(--gr--lg)}
}
