/* stylelint-disable */



[class*="-bdrs:"]{
	border-radius: var(--bdrs) !important;
}
.-bdrs\:0{
	--bdrs: 0px;
}
.-bdrs\:1{
	--bdrs: var(--radius--1);
}
.-bdrs\:2{
	--bdrs: var(--radius--2);
}
.-bdrs\:3{
	--bdrs: var(--radius--3);
}
.-bdrs\:4{
	--bdrs: var(--radius--4);
}
.-bdrs\:5{
	--bdrs: var(--radius--5);
}
.-bdrs\:6{
	--bdrs: var(--radius--6);
}
.-bdrs\:99{
	--bdrs: var(--radius--99);
}
