@use '../query' as query;
/* stylelint-disable */

// [class*="-xxx:"] を使うと ユーティリティに important 不要になる

// .-w\:,
[class*="-w:"] { width: var(--w) !important }
.-w\:25 { --w: 25% }
.-w\:50 { --w: 50% }
.-w\:75 { --w: 75% }
.-w\:100 { --w: 100% }
.-w\:fit { --w: fit-content}
// .-h\:screen { --w: calc(100vw - var(--sbar)) }

// .-h\:,
[class*="-h:"] { height: var(--h) !important }
.-h\:25 { --h: 25% }
.-h\:50 { --h: 50% }
.-h\:75 { --h: 75% }
.-h\:100 { --h: 100% }
.-h\:fit { --h: fit-content }
.-h\:screen { --h: 100vh;--h: 100dvh; }

// .-w\:text{ width: 35em }

@include query.cq('sm') {
	.-w\@sm\: { width: var(--w--sm) !important }
	.-h\@sm\: { height: var(--h--sm) !important }
}

@include query.cq('md') {
	.-w\@md\: { width: var(--w--md) !important }
	.-h\@md\: { height: var(--h--md) !important }
}
@include query.cq('lg') {
	.-w\@lg\: { width: var(--w--lg) !important }
	.-h\@lg\: { height: var(--h--lg) !important }
}

// max, min

.-maxW\:100 {
	max-width: 100%;
}
.-maxH\:100 {
	max-height: 100%;
}

// .-maxW\:fit {
// 	max-width: fit-content;
// }
// .-maxH\:fit {
// 	max-height: fit-content;
// }
