@use '../query' as query;

// 0, 5, 10, 15, 20, 30, 40, 50 まで

//_SCSS
$spaces: 0, 5, 10, 15, 20, 30, 40, 50;
@each $s in $spaces {
	// @for $i from 0 through 5 {
	// .-flowGap\:#{$s} {
	// 	--flowGap: var(--space--#{$s});
	// }
	.-mbs\:#{$s} {
		--mbs: var(--space--#{$s});
	}
	// .-mbe\:#{$s} {
	// 	--mbe: var(--space--#{$s});
	// }
	.-gap\:#{$s} {
		--gap: var(--space--#{$s});
	}

	// .-clmg\:#{$s} {
	// 	--clmg: var(--space--#{$s});
	// }
	// .-rowg\:#{$s} {
	// 	--rowg: var(--space--#{$s});
	// }

	.-p\:#{$s} {
		--p: var(--space--#{$s});
	}
	// .-pbs\:
	// .-pbe\:
	.-pX\:#{$s} {
		--pX: var(--space--#{$s});
	}
	.-pY\:#{$s} {
		--pY: var(--space--#{$s});
	}
	// .-pl\:#{$s} {
	// 	--pl: var(--space--#{$s});
	// }
	// .-pr\:#{$s} {
	// 	--pr: var(--space--#{$s});
	// }
	// .-pt\:#{$s} {
	// 	--pt: var(--space--#{$s});
	// }
	// .-pb\:#{$s} {
	// 	--pb: var(--space--#{$s});
	// }
}

// @for $i from 0 through 10 {
// 	[data-props~="-p:#{10*$i}"] {
// 		--p:var(--space--#{10*$i});
// 	}
// }
