// @use '../query' as query;

// 0, 5, 10, 15, 20, 30, 40, 50 まで

//_SCSS
$spaces: 0, 5, 10, 15, 20, 30, 40, 50;
@each $s in $spaces {
	// @for $i from 0 through 5 {
	// .-m\:#{$s} {
	// 	--m: var(--s--#{$s});
	// }
	// flowレイアウトで使うので mbs はユーティリティ用意する
	.-mbs\:#{$s} {
		--mbs: var(--s--#{$s});
	}
	.-ms\:#{$s} {
		--ms: var(--s--#{$s});
	}
	// .-mbe\:#{$s} {
	// 	--mbe: var(--s--#{$s});
	// }
	.-gap\:#{$s} {
		--gap: var(--s--#{$s});
	}
	// .-clmg\:#{$s} {
	// 	--clmg: var(--s--#{$s});
	// }
	// .-rowg\:#{$s} {
	// 	--rowg: var(--s--#{$s});
	// }

	.-p\:#{$s} {
		--p: var(--s--#{$s});
	}
	.-px\:#{$s} {
		--px: var(--s--#{$s});
	}
	.-py\:#{$s} {
		--py: var(--s--#{$s});
	}
	// .-pl\:#{$s} {
	// 	--pl: var(--s--#{$s});
	// }
	// .-pr\:#{$s} {
	// 	--pr: var(--s--#{$s});
	// }
	// .-pt\:#{$s} {
	// 	--pt: var(--s--#{$s});
	// }
	// .-pb\:#{$s} {
	// 	--pb: var(--s--#{$s});
	// }
}

// @for $i from 0 through 10 {
// 	[data-props~="-p:#{10*$i}"] {
// 		--p:var(--s--#{10*$i});
// 	}
// }
