@use '../query' as query;

// [class*="-lh:"]{
// 	line-height: var(--lh);
// }

[class*='-fz:'] {
	font-size: var(--fz);
}

.-fz\:r,
.-fz\:base {
	font-size: 1rem; // 自動lh計算を考慮し、--fz 使わない
}

.-fz\:2xs {
	--fz: var(--fz--2xs);
}
.-fz\:xs {
	--fz: var(--fz--xs);
}
.-fz\:s {
	--fz: var(--fz--s);
}
.-fz\:m {
	--fz: var(--fz--m);
}
.-fz\:l {
	--fz: var(--fz--l);
}
.-fz\:xl {
	--fz: var(--fz--xl);
}
.-fz\:2xl {
	--fz: var(--fz--2xl);
}
.-fz\:3xl {
	--fz: var(--fz--3xl);
}
.-fz\:4xl {
	--fz: var(--fz--4xl);
}
.-fz\:5xl {
	--fz: var(--fz--5xl);
}
// 流体サイズ
.-fz\:fluid {
	--fz: var(--fz-fluid);
}
// .-fz\:fluid\:s {
// 	--fz: var(--fz-fluid--s);
// }
// .-fz\:fluid\:l {
// 	--fz: var(--fz-fluid--l);
// }

// line-height
// .-lh\: {
// 	line-height: var(--lh);
// }
[class*='-lh:'] {
	line-height: var(--lh);
}
.-lh\:base {
	--lh: var(--lh--base);
}
.-lh\:s {
	--lh: var(--lh--s);
}
.-lh\:l {
	--lh: var(--lh--l);
}
.-lh\:1 {
	--lh: 1;
}

// font-family
.-ff\:base {
	font-family: var(--ff--base);
}
.-ff\:mono {
	font-family: var(--ff--mono);
}
.-ff\:emoji {
	font-family: var(--ff--emoji);
}

@include query.cq('sm') {
	.-fz\@sm\: {
		font-size: var(--fz--sm) !important;
	}
}
@include query.cq('md') {
	.-fz\@md\: {
		font-size: var(--fz--md) !important;
	}
}
@include query.cq('lg') {
	.-fz\@lg\: {
		font-size: var(--fz--lg) !important;
	}
}
