@use '../../scss/query' as query;

// --------------------
// Reel
// --------------------
// :root {
// 	--is--unreel: 0;
// }
.l--reel {
	// --is--unreel: 1;
	--item--basis: 16em; // 初期値要検討
	--snap: start;

	display: flex;
	overflow: auto;
	scroll-snap-type: both mandatory;

	// unreel時用
	&:where([data-unreel]) {
		--gtc--val: repeat(auto-fit, minmax(min(var(--item--basis), 100%), 1fr));
	}

	&:where([data-snap='center']) {
		--snap: center;
	}
	// &:where([data-direction='vertical']) {
	// 	--direction: center;
	// }

	> .is--item {
		flex: 0 0 var(--item--basis);
		scroll-snap-align: var(--snap);
	}

	// 子要素に対してしか使えない
	// @container style(--is--unreel: 0) {
	// 	color: red !important;
	// }
}

// unreel → tileグリッドに切り替え. 別レイアウトが必要であればgtcで。
@include query.cq('sm') {
	.l--reel[data-unreel='sm'] {
		display: grid;
		overflow-x: revert;
		grid-template-columns: var(--gtc--val);
	}
}
@include query.cq('md') {
	.l--reel[data-unreel='md'] {
		display: grid;
		overflow-x: revert;
		grid-template-columns: var(--gtc--val);
	}
}

// スクロールバーのカスタマイズ
/*
.l--reel[data-scrollbar='custom'] {
	--scrollbar--thumb-color: #fff;
	--scrollbar--track-color: #000;
	--scrollbar--height: 1rem;
	// overflow-x: scroll;

	// 以下、 Firefox用
	scrollbar-color: var(--scrollbar--thumb-color) var(--scrollbar--track-color);
	scrollbar-width: var(--scrollbar--height);

	&:not(.no-bar) {
		// JSでクラス切り替えしてスクロールバーが存在する時のみ指定するのが本当はよい?
		padding-bottom: var(--space--10);
	}

	&.no-bar {
		scrollbar-width: none;
	}
	&::-webkit-scrollbar {
		height: var(--scrollbar--height);
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--scrollbar--thumb-color);
		background-image: linear-gradient(
			var(--scrollbar--track-color) 0,
			var(--scrollbar--track-color) 0.25rem,
			var(--scrollbar--thumb-color) 0.25rem,
			var(--scrollbar--thumb-color) 0.75rem,
			var(--scrollbar--track-color) 0.75rem
		);
	}
	&::-webkit-scrollbar-track {
		background-color: var(--scrollbar--track-color);
	}
}
*/
