// --------------------
// Reel
// --------------------
.is--reel {
	--item--w: 16em; // 初期値要検討
	// display: grid;
	// overflow-x: auto;
	// grid-auto-flow: column;
	// grid-auto-columns: var(--item--w);
	// // grid-template-columns: unset;
	// // grid-template-rows: unset;

	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;

	> * {
		// flex: 0 0 auto;
		flex: none;
		flex-basis: var(--item--w);
		// box-sizing: content-box;
		// display: flex;
		scroll-snap-align: start;
	}
}

.l--reel[data-scbar='show'] {
	--scrollbar--thumb-color: #fff;
	--scrollbar--track-color: #000;
	--scrollbar--height: 1rem;

	// 以下、 Firefox用
	scrollbar-color: var(--scrollbar--thumb-color) var(--scrollbar--track-color);
	scrollbar-width: var(--scrollbar--height);

	&:not(.no-bar) {
		// JSでクラス切り替えしてスクロールバーが存在する時のみ指定するのが本当はよい?
		padding-bottom: var(--space--10);
	}

	&.no-bar {
		scrollbar-width: none;
	}
	&::-webkit-scrollbar {
		height: var(--scrollbar--height);
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--scrollbar--thumb-color);
		background-image: linear-gradient(
			var(--scrollbar--track-color) 0,
			var(--scrollbar--track-color) 0.25rem,
			var(--scrollbar--thumb-color) 0.25rem,
			var(--scrollbar--thumb-color) 0.75rem,
			var(--scrollbar--track-color) 0.75rem
		);
	}
	&::-webkit-scrollbar-track {
		background-color: var(--scrollbar--track-color);
	}
}
