---
import { SideFixFlex, Stack, Box } from '@lism/core';
import Header from '~/components/Header.astro';
import Footer from '~/components/Footer.astro';
import DocsSidebar from '~/components/DocsSidebar.jsx';

export interface Props {
	title: String;
	url: String;
}
const { title, url } = Astro.props;
---

<Header />
{/* 240px@1000px ~ 300px@1600px */}
<SideFixFlex
	class='a--'
	fix='first'
	fixW='clamp(240px, 140px + 10vw, 300px);'
	fluidMinW='40rem'
	gap={0}
>
	<Box bgc='#fefefe' class='lism--menu' fz='s' shadow='1' d={['none', null, 'block']}>
		<DocsSidebar url={url} client:load />
	</Box>
	<Stack gap={0} class='lism--page'>
		<!-- <Header /> -->
		<Box class='a--content'>
			<Box class='a--main' tag='main' pY={60}>
				<Box class='a--article' tag='article' isFlow flowGap={60}>
					<Box class='a--article__header' tag='header' isConstrained hasGutter>
						<Box>
							<h1 class='c--pageTitle wp-block-post-title'>
								{title}
							</h1>
						</Box>
					</Box>
					<Box class='a--article__content' isFlow isConstrained hasGutter>
						<slot />
					</Box>
				</Box>
			</Box>
		</Box>
		<Footer />
	</Stack>
</SideFixFlex>
