// 基本は --gap で管理し、rowg/colmg は必要に応じて上書きできるようにするパターン
// 常に rowg/colmg を受け取れるようにはならないので、colmg を計算で使いたい時に注意が必要になる。
.is--flex,
.is--grid{
	// --gapだけwidth,heightなどと同じ感じ？
	--gap: var(--s--50); // ここで初期値与えるべきかは要検討
	--gap_Qsm: var(--gap);
	--gap_Qxs: var(--gap_Qsm);
	gap: var(--gap);

	@container (max-width: 720px) {
		gap: var(--gap_Qsm);
	}

	@container (max-width: 440px) {
		gap: var(--gap_Qxs);
	}
}

// row, column方向に個別指定して上書きしたい時
// .has--gap {
// 	gap: var(--gap) !important;
// }
.has--rowg {
	column-gap: var(--rowg) !important;
}
.has--colmg {
	row-gap: var(--colmg) !important;
}

@container (max-width: 720px) {
	// .has--gap\@sm { gap: var(--gap_Qsm) !important;}
	.has--rowg\@sm { column-gap: var(--rowg_Qsm) !important;}
	.has--colmg\@sm { row-gap: var(--colmg_Qsm) !important;}
}

@container (max-width: 440px) {
	// .has--gap\@xs { padding: var(--gap_Qxs) !important;}
	.has--rowg\@xs { column-gap: var(--rowg_Qxs) !important;}
	.has--colmg\@xs { row-gap: var(--colmg_Qxs) !important;}
}
