// シンプルに rowg/colmg だけを使うパターン。
// ソース上は gap でまとめれるとこも分割してCSS変数が吐き出されてしまう。

.is--flex,
.is--grid{
	// 初期値
	--rowg: var(--s--50);
	--colmg: var(--s--50);

	// @
	--rowg_Qsm: var(--rowg);
	--colmg_Qsm: var(--colmg);
	--rowg_Qxs: var(--rowg_Qsm);
	--colmg_Qxs: var(--colmg_Qsm);


	gap: var(--rowg) var(--colmg);

	@container (max-width: 720px) {
		gap: var(--rowg_Qsm) var(--colmg_Qsm);
	}

	@container (max-width: 440px) {
		gap: var(--rowg_Qxs) var(--colmg_Qxs);
	}
}


