// gap値は横幅計算等に使用することもあるので、 row, colm それぞれに変数データをもたせている。
//    ( fxb = calc(width - colmg) みたいな使い方をしたい時がある )
// ただし、 --gap は 単一値（row と colm が同じ値）のみ指定する必要がある。
//    → コンポーネント側で、gap="1em 2em" のように分割指定されていれば、変数を自動で分けるように処理している。

// .has--gap,
// cssファイルからCSS変数指定だけでクエリ対応できるように gap はここで定義しておく。
.is--flex,
.is--grid{
	--gap: var(--space--50); // ここで初期値与えるべきかは要検討
	// --gap_Qsm: var(--gap);
	// --gap_Qxs: var(--gap_Qsm);
	gap: var(--gap);

	// @container (max-width: 720px) {
	// 	gap: var(--gap_Qsm);
	// }

	// @container (max-width: 440px) {
	// 	gap: var(--gap_Qxs);
	// }
}


// [class*="-gap:"]{
// 	gap: var(--gap) !important;
// }

[class*="-colmg:"]{
	column-gap: var(--colmg) !important;
}

[class*="-rowg:"]{
	row-gap: var(--rowg) !important;
}

// [data-padding="p@_, pt@sm "]
@container (max-width: 720px) {

	[class*="-gap@sm:"]{
		gap: var(--gap_Qsm) !important;
	}
	[class*="-colmg@sm:"]{
		column-gap: var(--colmg_Qsm) !important;
	}
	[class*="-rowg@sm:"]{
		row-gap: var(--rowg_Qsm) !important;
	}
}

@container (max-width: 440px) {
	[class*="-gap@xs:"]{
		gap: var(--gap_Qxs) !important;
	}
	[class*="-colmg@xs:"]{
		column-gap: var(--colmg_Qxs) !important;
	}
	[class*="-rowg@xs:"]{
		row-gap: var(--rowg_Qxs) !important;
	}
}


@for $i from 0 through 5 {
	.-gap\:#{$i * 10} {
		--gap: var(--space--#{$i * 10});
	}
	.-colmg\:#{$i * 10} {
		--colmg: var(--space--#{$i * 10});
	}
	.-rowg\:#{$i * 10} {
		--rowg: var(--space--#{$i * 10});
	}

	.-gap\@sm\:#{$i * 10} {
		--gap_Qsm: var(--space--#{$i * 10});
	}
	.-colmg\@sm\:#{$i * 10} {
		--colmg_Qsm: var(--space--#{$i * 10});
	}
	.-rowg\@sm\:#{$i * 10} {
		--rowg_Qsm: var(--space--#{$i * 10});
	}

	.-gap\@xs\:#{$i * 10} {
		--gap_Qxs: var(--space--#{$i * 10});
	}
	.-colmg\@xs\:#{$i * 10} {
		--colmg_Qxs: var(--space--#{$i * 10});
	}
	.-rowg\@xs\:#{$i * 10} {
		--rowg_Qxs: var(--space--#{$i * 10});
	}
}
