:where(.has--m) {
	--m: 0;
	--m--Qsm: var(--m);
	--m--Qxs: var(--m--Qsm);
	margin: var(--m) !important;
}
:where(.has--mt) {
	--mt: 0;
	--mt--Qsm: var(--mt);
	--mt--Qxs: var(--mt--Qsm);
	margin-top: var(--mt) !important;
}
:where(.has--mb) {
	--mb: 0;
	--mb--Qsm: var(--mb);
	--mb--Qxs: var(--mb--Qsm);
	margin-bottom: var(--mb) !important;
}
:where(.has--ml) {
	--ml: 0;
	--ml--Qsm: var(--ml);
	--ml--Qxs: var(--ml--Qsm);
	margin-left: var(--ml) !important;
}
:where(.has--mr) {
	--mr: 0;
	--mr--Qsm: var(--mr);
	--mr--Qxs: var(--mr--Qsm);
	margin-right: var(--mr) !important;
}

@container (max-width: 720px) {
	:where(.has--m) { margin: var(--m--Qsm) !important;}
	:where(.has--mt) { margin-top: var(--mt--Qsm) !important;}
	:where(.has--mr) { margin-right: var(--mr--Qsm) !important;}
	:where(.has--mb) { margin-bottom: var(--mb--Qsm) !important;}
	:where(.has--ml) { margin-left: var(--ml--Qsm) !important;}
}

@container (max-width: 440px) {
	:where(.has--m) { margin: var(--m--Qxs) !important;}
	:where(.has--mt) { margin-top: var(--mt--Qxs) !important;}
	:where(.has--mr) { margin-right: var(--mr--Qxs) !important;}
	:where(.has--mb) { margin-bottom: var(--mb--Qxs) !important;}
	:where(.has--ml) { margin-left: var(--ml--Qxs) !important;}
}
