
// ulタグなど、デフォルトで一方向にpaddingがついているような要素でも使えるように、各方向で分離している

// p:50, @s{X:30} みたいにクエリ条件下で各部位のみ指定された時を考えて、 has--p@s,,,とかが個別に必要。
// [data-lism-padding] みたいにデータ属性でもいいか?
// [data-lism-spacing="-p,-pt,-pr,-pb,-pl,-p@sm,-pt@xs"] とかでもいいか？
.has--p {
	padding: var(--p) !important;
}
.has--pt {
	padding-top: var(--pt) !important;
}
.has--pb {
	padding-bottom: var(--pb) !important;
}
.has--pl {
	padding-left: var(--pl) !important;
}
.has--pr {
	padding-right: var(--pr) !important;
}

@container (max-width: 720px) {
	.has--p\@sm { padding: var(--p--Qsm) !important;}
	.has--pt\@sm { padding-top: var(--pt--Qsm) !important;}
	.has--pr\@sm { padding-right: var(--pr--Qsm) !important;}
	.has--pb\@sm { padding-bottom: var(--pb--Qsm) !important;}
	.has--pl\@sm { padding-left: var(--pl--Qsm) !important;}
}

@container (max-width: 440px) {
	.has--p\@xs { padding: var(--p--Qxs) !important;}
	.has--pt\@xs { padding-top: var(--pt--Qxs) !important;}
	.has--pr\@xs { padding-right: var(--pr--Qxs) !important;}
	.has--pb\@xs { padding-bottom: var(--pb--Qxs) !important;}
	.has--pl\@xs { padding-left: var(--pl--Qxs) !important;}
}



// 以下の方式だと、セレクタ負荷が高すぎる。かつ、CSSファイルから --p 系の初期セットなどもできない。
// [style*="--pt:"]{
// 	padding-top: var(--pt) !important;
// }
// [style*="--pr:"]{
// 	padding-right: var(--pr) !important;
// }
// [style*="--pb:"]{
// 	padding-bottom: var(--pb) !important;
// }
// [style*="--pl:"]{
// 	padding-left: var(--pl) !important;
// }
// [style*="--p:"]{
// 	padding: var(--p) !important;
// }

// @container (max-width: 720px) {
	
// 	[style*="--pt--Qsm:"]{
// 		padding-top: var(--pt--Qsm) !important;
// 	}
// 	[style*="--pr--Qsm:"]{
// 		padding-right: var(--pr--Qsm) !important;
// 	}
// 	[style*="--pb--Qsm:"]{
// 		padding-bottom: var(--pb--Qsm) !important;
// 	}
// 	[style*="--pl--Qsm:"]{
// 		padding-left: var(--pl--Qsm) !important;
// 	}
// 	[style*="--p--Qsm:"]{
// 		padding: var(--p--Qsm) !important;
// 	}
// }

// @container (max-width: 440px) {
// 	[style*="--pt--Qxs:"]{
// 		padding-top: var(--pt--Qxs) !important;
// 	}
// 	[style*="--pr--Qxs:"]{
// 		padding-right: var(--pr--Qxs) !important;
// 	}
// 	[style*="--pb--Qxs:"]{
// 		padding-bottom: var(--pb--Qxs) !important;
// 	}
// 	[style*="--pl--Qxs:"]{
// 		padding-left: var(--pl--Qxs) !important;
// 	}
// 	[style*="--p--Qxs:"]{
// 		padding: var(--p--Qxs) !important;
// 	}
// }
