/* https://github.com/withastro/starlight/tree/main/packages/starlight/style */
@import './demo';
@import './preview';
@import './hero';

// .c--tabs pre {box-shadow: 0 0 8px 0 red !important;}

// 以下ではデフォルトのカラム幅を広げ、ページタイトルのテキストサイズを大きくしています。
:root {
	--sl-content-width: 50rem;
	--codeblock--radius: 0 0 var(--radius--3) var(--radius--3);
	--sl-sidebar-width:15rem;
	--ec-frm-edBg: red; 
}

:root[data-theme='light'] {
	--codeBlock--bgc:hsl(200, 16%, 96%);
	--prev--resize-bdc: hsl(200, 16%, 60%);

	.expressive-code.expressive-code {
		--ec-frm-edBg: var(--codeBlock--bgc);
	}
}

.expressive-code .frame{
	--ec-frm-frameBoxShdCssVal: none;
}

#starlight__sidebar{
	--sl-color-bg-sidebar: transparent;
}

// リストスタイルの除去
.sidebar-content, .right-sidebar{
	--list--pis: 0;
	--list-style: none;
}

// コードブロック
.expressive-code{
	--ec-frm-frameBoxShdCssVal: var(--shadow--3);
	/* --ec-codeBg: #fff;
	--code-background: #fff; */
}

// セル内のコードで、かつそれが唯一な要素であればは折り返さない
td > code:only-child {
	white-space: nowrap;
}

/* memo: 狭いブラウザ幅での目次、文字検索した時に展開してきて邪魔になってしまうので、最大高さを低くした方がいいかも */


.right-sidebar-container {
	position: sticky;
	z-index: var(--sl-z-index-toc);
	top: var(--sl-nav-height);
}
.right-sidebar{
	

	
	nav{
		position: relative;
		inset: 0;
		border: none;;
		// z-index: var(--sl-z-index-toc);
		// top: calc(var(--sl-nav-height) - 1px);
	}
}
