:where(.e--badge){
	--p: var(--space--5) var(--space--10);
	--c: #fff;
	--bgc: var(--keycolor);
	--bdc: transparent;
	line-height: 1.5;
	border: solid 1px var(--bdc); // サイズ揃えるため,常につける
	color: var(--c);
	background-color: var(--bgc);
}

// fill=default
// .e--badge[data-variant="fill"]{}

.e--badge[data-variant="outline"]{
	--bdc: var(--keycolor);
	--bgc: transparent;
	--c: var(--keycolor);
}

.e--badge[data-variant="subtle"]{
	@supports (color: color-mix(in srgb, #000, #fff)) {
		--c: color-mix(in srgb, var(--keycolor), var(--c--text) var(--colorMixPercent--link));
		--bgc: color-mix(in srgb, var(--keycolor), transparent var(--colorMixPercent--bg));
	}
}

