:where(.e--badge){
	--p: var(--space--10) var(--space--15);
	line-height: 1.5;
}
.e--badge[data-variant="outline"]{
	border: solid 1px var(--keycolor);
	color: var(--keycolor);
}
.e--badge[data-variant="fill"]{
	color: #fff;
	border: solid 1px var(--bgc); // サイズ揃えるため
}

.e--badge[data-variant="cbox"]{
	color: color-mix(in srgb-linear, var(--keycolor), var(--c--text) 50%);
}
