.l--sideFix{
	--fix--w: 16rem; // 初期値
}
.l--sideFix.is--flex {
	--fluid--miw: 55%;

	// side
	&[data-fix="first"] > .is--item:first-child,
	&[data-fix="last"] > .is--item:last-child{
		--fxb: var(--fix--w);
		--fxg: 1;
	}

	&[data-fix="first"] > .is--item:last-child,
	&[data-fix="last"] > .is--item:first-child{
		--fxb: var(--fluid--miw); // EL のように 0 にするとsubがでかくなりやすいので、最低限miw分は比率として指定しておく
		--fxg: 100000; // できるだけ sub 側を 指定値ピッタリに近づける
		min-width: min(100%, var(--fluid--miw));  // このサイズが折り返しポイント

		// 折り返しが効かない長い文字列があった場合にバグるのを防ぐ
		// word-wrap: break-word;
		// overflow-wrap: break-word;
	}
}

// .l--sideFix.is--grid {
// }

.l--sideFix{

	// data-fix: left up, left down, right up, right down
	&[data-fix^="left"]{
		--gta: "fix fluid";
		--gtc: var(--fix--w) 1fr;
	}

	&[data-fix^="right"]{
		--gta: "fluid fix";
		--gtc: 1fr var(--fix--w);
	}


	// .-gtc@sm:
	&[data-break="sm"]{
		--gtc--sm: 100%;

		&[data-fix$="up"]{
			--gta--sm: "fix" "fluid";
		}
		&[data-fix$="down"]{
			--gta--sm: "fluid" "fix";
		}
	}

	&[data-break="xs"]{
		--gtc--xs: 100%;

		&[data-fix$="up"]{
			--gta--xs: "fix" "fluid";
		}
		&[data-fix$="down"]{
			--gta--xs: "fluid" "fix";
		}
	}

}

