.l--sideFix{
	--fixW: 16rem;
}
.l--sideFix.-lism\:{
	--lism: 16rem;
	--fixW: var(--lismVal);
}

.l--sideFix{

	// fixSize → lismVar?

	// --lism-val: 

	&[data-fix~="left"]{
		--gta--horizontal: "fix ...";
		--gtc--horizontal: var(--fixW) 1fr;
	}

	&[data-fix~="right"]{
		--gta--horizontal: ". fix"; // .-gta@sm: あれば 有効になる
		--gtc--horizontal: 1fr var(--fixW);
	}

	// 折返しなし
	&[data-fix="left"],
	&[data-fix="right"]{
		--gta: var(--gta--horizontal);
		--gtc: var(--gtc--horizontal);
	}

	// up, down 指定がある時は @xs で縦並び
	&[data-fix~="up"]{
		--gta: "fix" ".";
	}
	&[data-fix~="down"]{
		--gta: "." "fix";
	}


	// 折返しタイミンを切り替えれるようにしている
	&.-gta\@sm\:{
		--gta--sm: var(--gta--horizontal);
		--gtc--sm: var(--gtc--horizontal);
	}
	&.-gta\@md\:{
		--gta--md: var(--gta--horizontal);
		--gtc--md: var(--gtc--horizontal);
	}
	
	// -gtcとかに @bp クラス不要にした場合
	// &[data-break="sm"][data-fix~="left"]{
	// 	--gta--sm: "fix .";
	// }
	// ...


	// .-gtc@sm:
	// &[data-break="sm"]{
	// 	--gtc--sm: 100%;

	// 	&[data-fix~="up"]{
	// 		--gta--sm: "fix" "fluid";
	// 	}
	// 	&[data-fix~="down"]{
	// 		--gta--sm: "fluid" "fix";
	// 	}
	// }

	// &[data-break="xs"]{
	// 	--gtc--xs: 100%;

	// 	&[data-fix~="up"]{
	// 		--gta--xs: "fix" "fluid";
	// 	}
	// 	&[data-fix~="down"]{
	// 		--gta--xs: "fluid" "fix";
	// 	}
	// }

}

