// :root {}

// ddへのブラウザのデフォルトスタイルがあたってしまうのを防ぐ
// :where(.b--faq__a) {
// 	margin: 0;
// }

:where(.b--faq) {
	--badge--size: 2em;
}


// .b--faq__item + .b--faq__item {
// 	// margin-top: 1.25em;
// 	// padding-top: 1.25em;
// 	border-top: solid 1px var(--ark-color--border, rgba(200, 200, 200, .5));
// }

.b--faq__q,
.b--faq__a {
	position: relative;
	align-items: baseline;
	--gap: var(--space--40);
	--gap--sm: var(--space--35);
	--gta: "i text";
	--gtc: auto 1fr;
}

.b--faq__q {
	// font-weight: 700;
	// > .b--faq__badge  {}
}

.b--faq__a {

	// >.b--faq__badge  {}
}

// .b--faq__aText,
// .b--faq__qText{
// 	--ga: text;
// }

.b--faq__badge {
	grid-area: i;
	// display: block;
	font-family: Arial, sans-serif;
	width: var(--badge--size);
	height: var(--badge--size);
	// --fz: var(--fz--l);
	// line-height: 2;
	// font-weight: normal;
	// text-align: center;
	// border-radius: 3px;

	// border:solid 1px;
	// background: var(--color--main);
	// color: #fff;

	// font-size: ;
	> .l--center{
		// --badge--size: 2em;
		// font-size: 1.25em;
	}
}

