:where(.l--button){
	// --keycolor: var(--c--main);
	--p: var(--space--30) var(--space--40);
	--icon-scale: 1.25; // offsetとバランス合わせる
	--icon-offset: 25%;
	--bdrs: var(--radius--1);
	// --c: var(--keycolor);
	--bdc: transparent;
	// --bgc: transparent;
	--w: fit-content;
	--gap: var(--space--10);

	display: flex;
	justify-content: center;
	align-items: center;
}

.l--button{
	line-height: 1.5;
	text-decoration: none;
	width: var(--w); // .-w: 関連で上書きできるように
	color: var(--c);
	background-color: var(--bgc);
	border: solid 1px var(--bdc); // アウトラインと並べたときにサイズに差がでないように
	border-radius: var(--bdrs);
	padding: var(--p);
	gap: var(--gap);
	// min-width: 2em;
}

.l--button[data-variant="fill"] {
	// --keycolor: var(--c--main);
	--bdc: var(--bgc); // reverse用
	// --bgc: var(--keycolor);
	--c: #fff;
}


.l--button[data-variant="outline"]{
	--bdc: var(--keycolor);
	--c: var(--bdc); // bdc上書きするだけで --c も変わる

	// reverse用
	--rev--bgc: var(--bdc);
	--rev--c: #fff;
}

.l--button[data-variant="text"]{
	// color: var(--keycolor);
	--rev--c: #fff; // reverse用
}

// .l--button__text {
// 	overflow-wrap: anywhere;
// }


// .l--button[data-icon-position="edge"],
// gta:lcr, tcb
.l--button.is--grid {
	--gta: "left center right";
	--gtc: 1em 1fr 1em;
}
.is--grid > .l--button__text {
	justify-self: center;
	grid-area: center;
}

// .l--button[data-icon-offset="0"]{
// 	--icon-offset: 0;
// }

.l--button__icon {
	scale: var(--icon-scale);
	flex-shrink: 0;

	&[data-position="left"] {
		grid-area: left;
		translate: calc(0px - var(--icon-offset));
	}
	&[data-position="right"] {
		grid-area: right;
		translate: var(--icon-offset);
	}
}

