:where(.l--button){
	--p: var(--space--30) var(--space--40);
	--icon-scale: 1.25; // offsetとバランス合わせる
	--icon-offset: 25%;
	--bdrs: var(--radius--1);
}
.l--button{
	line-height: 1.5;
	text-decoration: none;
	width: fit-content;
	// min-width: 2em;
}

:where(.l--button[data-variant="fill"]) {
	border: solid 1px var(--bgc); // reverse用
}

// .-hov\:reverse
:where(.l--button[data-variant="outline"]) {
	border: solid 1px var(--c); // reverse用
	--bgc: #fff; // reverse用
}

:where(.l--button[data-variant="text"]) {
	--bgc: #fff; // reverse用
}

.l--button__text {
	overflow-wrap: anywhere;
}


// .l--button[data-icon-position="edge"],
.l--button.is--grid {
	--gta: "left center right";
	--gtc: 1em 1fr 1em;
}
.is--grid > .l--button__text {
	justify-self: center;
}

// .l--button[data-icon-offset="0"]{
// 	--icon-offset: 0;
// }

.l--button__icon {
	scale: var(--icon-scale);
	&[data-position="left"] {
		translate: calc(0px - var(--icon-offset));
	}
	&[data-position="right"] {
		translate: var(--icon-offset);
	}
}

