.c--tabs {
	// position: relative;
	gap: var(--em--7);
	--active--c: var(--c--base);
	--active--bgc: transparent;
}

// [data-tab~='vertical'] {
// 	--gtc: auto 1fr;
// }

.c--tabList {
	position: relative;
}

.c--tabList--border {
	// ovx='auto' の時にmarginネガティブだとアウト
	// --active--bgc: var(--b100);
	--bdw: 2px;
	&::after {
		content: '';
		position: absolute;
		inset: 0;
		display: block;
		z-index: -1;
		// flex: 1;
		// border-bottom: var(--bdw) solid var(--bdc--base);
	}

	// > .c--tab__button {
	// 	border-bottom: var(--bdw) solid transparent;
	// }

	> [aria-selected='true'] {
		border-color: currentColor;
	}
}
.c--tabList--border:where(.l--flex)::after {
	border-bottom: var(--bdw) solid var(--bdc--base);
}

:where(.l--flex) > .c--tab__button {
	border-bottom: var(--bdw) solid transparent;
}

.c--tabList--border:where(.l--stack)::after {
	border-inline-end: var(--bdw) solid var(--bdc--base);
}

:where(.l--stack) > .c--tab__button {
	border-inline-end: var(--bdw) solid transparent;
}

.c--tabList--box {
	--bdw: 1px;
	--active--bgc: var(--bgc--base);
	background-color: var(--b200);
	padding: 0.125em;
	gap: 0.5em;
	border-radius: var(--radius--3);
	> .c--tab__button {
		border-radius: calc(var(--radius--3) - 0.125em);
	}

	> [aria-selected='true'] {
		box-shadow: var(--shadow--1);
	}
}
// .c--tabList--lifted {
// 	--bdw: 1px;
// 	// > .c--tab__button {}

// 	> [aria-selected='false'] {
// 		border-bottom: var(--bdw) solid var(--bdc--base);
// 	}
// 	> [aria-selected='true'] {
// 		border: var(--bdw) solid var(--bdc--base);
// 		border-bottom: none;
// 	}
// 	&::after {
// 		content: '';
// 		position: absolute;
// 		inset: 0;
// 		display: block;
// 		z-index: -1;
// 		// flex: 1;
// 		border-bottom: var(--bdw) solid var(--bdc--base);
// 	}
// }

.c--tab__button {
	// margin-top: calc(var(--bdw) * -1);
	// position: relative;
	// box-sizing: border-box;
	display: block;
	padding: var(--em--5) var(--em--10);
	// transition:
	// 	background-color 0.25s,
	// 	color 0.25s;
	// min-width: 10ch;

	&[aria-selected='true'] {
		color: var(--active--c);
		background-color: var(--active--bgc);
	}
	// &[aria-selected='false'] {}
}

// .arkb-tabBody {
// 	position: relative;
// 	padding: 1.5em;
// }

.c--tab__panel {
	// position: relative;
	width: 100%;
	// grid-row: 2 / -1;
	// grid-column: 1 / -1;
	&[aria-hidden='true'] {
		display: none;
	}
}

[data-tab~='keep-height'] {
	// > .c--tab__panel {
	// 	transform: translateY(0);
	// 	transition-property: visibility, opacity, transform;
	// 	transition-duration: 0.3s;
	// }

	> [aria-hidden='true'] {
		display: block;
		visibility: hidden;
		opacity: 0;
		// transform: translateY(8px);
		// transition-duration: 0s;
	}
}
