@charset "UTF-8";


:root {
	/*
	 * コンテンツサイズ: ユーザー側で定義が必要
	 *     コンテンツサイズは960 ~ 1120 くらいがよさそう.
	 *     1080 にしてるのは、 1920 * 1080画像がきれいに配置できるため？
	 */
	// コンテンツサイズは960 ~ 1120 くらいがよさそう
	--ls--contentSize: 1120px; // = --wp--style--global--content-size.
	--ls--contentSize--wide: 1440px; // = --wp--style--global--wide-size. alignwide で使う.
	--ls--contentSize--slim: 45rem; // slim幅1カラムテンプレートで使う. fz:16px時 = 720px

	/*
	 * カラー: ユーザー側で定義が必要
	 */
	// main & sub & accent / primary & secondary / text & bg / link & link--hover / gray & gray--light / gray--dark
	// 「70：25：5の法則」　→ base, main, accent : https://chot.design/concept-of-design/02d49c79f19a/
	--ls--color--main: #2F4858; // メインカラー
	--ls--color--accent: #be3455; // mainと逆の目立つ色
	--ls--color--base: #fdfdfd; // 背景色メイン
	--ls--color--sub: #dde7f0; // main と相性のいい、背景色に使うような薄い色？
	--ls--color--gray: #f5f5f5; // 薄いグレー色 (baseSub)
	--ls--color--link: #0c61e4; // リンク色
	--ls--color--text: #111; // テキスト色
	--ls--color--headline: #00473e; // 見出しカラー
	// --ls--color--button: #111; // → main
}
