/*
 * タイポグラフィオート計算でを * に対して指定するケース
 * 親要素の --lh の引き継ぎに問題が発生する。
 	→ 下限・上限を超える値がセットされている時、その値を継承できない。
 */
:root{
	--ls--lh--min: 1.3em;
	--ls--lh--max: 1.9em;
}
// ---------------------------------------------------------------------

// 全要素で --fz, --lh を受け取れるように
:where(body *){
	font-size: var(--fz, inherit);
	line-height: var(--lh, inherit);
}

// [style*="--fz:"]{
// 	font-size: var(--fz);
// }


// :not([style*="font-size"]) にしてても、* によって親要素側で計算されはじめたりするので、多少影響は受ける
*:not([style*="font-size"]),
[style*="--fz:"], // --fzでフォントサイズ指定されているもの
[class*="u--fz\:"], {

	--slope: 0.35; // 自動計算用の傾き
	--base: calc(var(--lh, var(--ls--root--lh)) * 1em); // 計算ように単位をつけておく

	// 上限値を var(--base) にすることで、フォントサイズが大きい場合にのみ計算を適用することも可能
	line-height: clamp(
		min(var(--ls--lh--min), var(--base)),
		calc((var(--slope) * 1em) + var(--base) - (var(--slope) * var(--fz, 1em)) ),
		max(var(--ls--lh--max), var(--base))
	);
}

// .u--fz:などに対して--lh指定されてあった場合に上書きできる位置で
// [style*="--lh:"]{
// 	line-height: var(--lh);
// 	--ls--lh--min: min(var(--ls--lh--min), var(--base));
// 	--ls--lh--max: max(var(--ls--lh--min), var(--base));
// }

// ---------------------------------------------------------------------

h1 {--fz: var(--ls--fz--4L);}
h2 {--fz: var(--ls--fz--3L);}
h3 {--fz: var(--ls--fz--2L);}
h4 {--fz: var(--ls--fz--L);}
h5 {--fz: var(--ls--fz--M);}
h6 {--fz: var(--ls--fz--S);}

.u--fz\:R {font-size: 1rem;}
.u--fz\:2S {--fz: var(--ls--fz--2S);}
.u--fz\:S {--fz: var(--ls--fz--S);}
.u--fz\:M {--fz: var(--ls--fz--M);}
.u--fz\:L {--fz: var(--ls--fz--L);}
.u--fz\:2L {--fz: var(--ls--fz--2L);}
.u--fz\:3L {--fz: var(--ls--fz--3L);}
.u--fz\:4L {--fz: var(--ls--fz--4L);}
.u--fz\:5L {--fz: var(--ls--fz--5L);}
.u--fz\:6L {--fz: var(--ls--fz--6L);}
