:root{
	// 各fzサイズ用のline-height
	--ls--6L--lh: 1.2;
	--ls--5L--lh: 1.4;
	--ls--4L--lh: 1.4;
	--ls--3L--lh: 1.5;
	--ls--2L--lh: 1.6;
	--ls--L--lh: 1.6;
}


h1 {
	font-size: var(--ls--fz--4L);
	line-height: var(--ls--4L--lh);
}

h2 {
	font-size: var(--ls--fz--3L);
	line-height: var(--ls--3L--lh);
}

h3 {
	font-size: var(--ls--fz--2L);
	line-height: var(--ls--2L--lh);
}

h4 {
	font-size: var(--ls--fz--L);
	line-height: var(--ls--L--lh);
}

h5 {
	font-size: var(--ls--fz--M);
}

h6 {
	font-size: var(--ls--fz--S);
}


.u--fz\:2S {
	font-size: var(--ls--fz--2S);
}

.u--fz\:S {
	font-size: var(--ls--fz--S);
}

.u--fz\:M {
	font-size: var(--ls--fz--M);
}

.u--fz\:L {
	font-size: var(--ls--fz--L);
	line-height: var(--ls--L--lh);
}

.u--fz\:2L {
	font-size: var(--ls--fz--2L);
	line-height: var(--ls--2L--lh);
}

.u--fz\:3L {
	font-size: var(--ls--fz--3L);
	line-height: var(--ls--3L--lh);
}

.u--fz\:4L {
	font-size: var(--ls--fz--4L);
	line-height: var(--ls--4L--lh);
}

.u--fz\:5L {
	font-size: var(--ls--fz--5L);
	line-height: var(--ls--5L--lh);
}

.u--fz\:6L {
	font-size: var(--ls--fz--6L);
	line-height: var(--ls--6L--lh);
}
