/*
 * タイポグラフィ
 */
:root{
	--root--ff: sans-serif;
	--root--fz: clamp(14px, 4vw, 1rem); // 1rem: ブラウザ標準はほぼ16px
	--root--lh: 1.75;

	// font-size 変数
	--fz--M: 1em;
	--fz--R: 1rem;

	// 倍音列(分子8) での計算値
	--fz--6L: 4em; //calc(1em * 8 / 2);
	--fz--5L: 2.667em; // calc(1em * 8 / 3);
	--fz--4L: 2em; //calc(1em * 8 / 4);
	--fz--3L: 1.6em; //calc(1em * 8 / 5);
	--fz--2L: 1.333em; //calc(1em * 8 / 6);
	--fz--L: 1.143em; //calc(1em * 8 / 7);
	--fz--S: 0.889em; // calc(1em * 8 / 9);
	--fz--2S: 0.80em; //calc(1em * 8 / 10);

	// line-height 変数
	// --ls--lh--contents: 1.8;
	// --ls--lh--heading: 1.8;
}

// ---------------------------------------------------------------------


h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	--ls--flowGap: var(--ls--flowGap--heading); // Flowレイアウト直下の見出しの上部余白は少しだけ広くする. CSS変数を上書きしてるだけなので、 .is--flow 直下にのみ影響する
}
