.e--delimiter {

	&[data-type="/"] {

		&::before {
			content: "/";
		}
	}

	&[data-type="|"] {

		&::before {
			content: "|";
		}
	}

	.is--flex > & {
		// --ls--miw: 1em;
		text-align: center;
	}
}
