
:root{
	/*
	 * カラー: ユーザー側で定義が必要
	 *    base:main:accent = 70:25:5の法則 ( https://chot.design/concept-of-design/02d49c79f19a/ )
	 *    + α
	 */
	--color--base: #fdfdfd; // 背景色メイン
	--color--main: #2F4858; // メインカラー
	--color--accent: #be3455; // mainと逆の目立つ色

	// 確定
	--color--link: #0c61e4; // リンク色
	--color--text: #111; // テキスト色
	--color--headline: #00473e; // 見出しカラー
	--color--border: #ccc;
	// --bdc--table: #dcdcdc; 
	
	// どうする
	--color--black: #000;
	--color--white: #fff;
	--color--gray: #f5f5f5; // 薄いグレー色? (baseSub)
	--color--sub: #dde7f0; // main と相性のいい、背景色に使うような薄い色？
	// bg2 ?

	// --color--button: #111; // → main
}


//カラー系
.-c\:base{
	color: var(--color--base);
}
.-c\:main{
	color: var(--color--main);
}
.-c\:accent{
	color: var(--color--accent);
}

// .-c\:sub{
// 	color: var(--color--sub);
// }
// .-c\:bgSub{
// 	color: var(--color--bgSub);
// }

.-c\:link{
	color:  var(--color--link);
}
.-c\:text{
	color:  var(--color--text);
}

.-c\:gray{
	color: var(--color--gray);
}
.-c\:white{
	color:#fff;
}
.-c\:black{
	color:#000;
}



.-bgc\:base{
	background-color: var(--color--base);
}
.-bgc\:main{
	background-color: var(--color--main);
}

.-bgc\:accent{
	background-color: var(--color--accent);
}

// .-bgc\:sub{
// 	background-color: var(--color--sub);
// }
// .-bgc\:bgSub{
// 	background-color: var(--color--bgSub);
// }

.-bgc\:text{
	background-color:  var(--color--text);
}
.-bgc\:link{
	background-color:  var(--color--link);
}

.-bgc\:gray{
	background-color: var(--color--gray);
}
.-bgc\:white{
	background-color:#fff;
}
.-bgc\:black{
	background-color:#000;
}
