
[class*="-m:"] {
	margin: var(--m) !important;
}
[class*="-mt:"] {
	margin-top: var(--mt) !important;
}
[class*="-mb:"] {
	margin-bottom: var(--mb) !important;
}
[class*="-ml:"] {
	margin-left: var(--ml) !important;
}
[class*="-mr:"] {
	margin-right: var(--mr) !important;
}
[class*="-mX:"]{
	margin-left: var(--mX) !important;
	margin-right: var(--mX) !important;
}
[class*="-mY:"]{
	margin-top: var(--mY) !important;
	margin-bottom: var(--mY) !important;
}

.-m\:auto{--m: auto;}
.-mt\:auto{--mt: auto;}
.-mb\:auto{--mb: auto;}
.-ml\:auto{--ml: auto;}
.-mr\:auto{--mr: auto;}
.-mX\:auto{--mX: auto;}
.-mY\:auto{--mY: auto;}


@container (max-width: 720px) {
	[class*="-m\@sm:"] { margin: var(--m_Qsm) !important;}
	[class*="-mt\@sm:"] { margin-top: var(--mt_Qsm) !important;}
	[class*="-mr\@sm:"] { margin-right: var(--mr_Qsm) !important;}
	[class*="-mb\@sm:"] { margin-bottom: var(--mb_Qsm) !important;}
	[class*="-ml\@sm:"] { margin-left: var(--ml_Qsm) !important;}

	[class*="-mX@sm:"]{
		margin-left: var(--mX_Qsm) !important;
		margin-right: var(--mX_Qsm) !important;
	}
	[class*="-mY@sm:"]{
		margin-top: var(--mY_Qsm) !important;
		margin-bottom: var(--mY_Qsm) !important;
	}
}

@container (max-width: 440px) {
	[class*="-m\@xs:"] { margin: var(--m_Qxs) !important;}
	[class*="-mt\@xs:"] { margin-top: var(--mt_Qxs) !important;}
	[class*="-mr\@xs:"] { margin-right: var(--mr_Qxs) !important;}
	[class*="-mb\@xs:"] { margin-bottom: var(--mb_Qxs) !important;}
	[class*="-ml\@xs:"] { margin-left: var(--ml_Qxs) !important;}

	[class*="-mX@xs:"]{
		margin-left: var(--mX_Qxs) !important;
		margin-right: var(--mX_Qxs) !important;
	}
	[class*="-mY@xs:"]{
		margin-top: var(--mY_Qxs) !important;
		margin-bottom: var(--mY_Qxs) !important;
	}
}



// --------------------
// .-mt 系
//   --ls--flowGap をいじると内部にも影響でてしまうので margin を直接上書き。
//   ツールバーから使う用でもあるので、block-start 方向に指定したい。
//  mt では 規則的に margin-top になるべきなので、どうするか。
//  mT でもいいか...。 （mB は margin-block-end）
// もしくは、mBs, m-bs とか...？
// --------------------
.-mT\:0 {
	margin-block-start: var(--s--0) !important;
}
.-mT\:10 {
	margin-block-start: var(--s--10) !important;
}
.-mT\:20 {
	margin-block-start: var(--s--20) !important;
}
.-mT\:30 {
	margin-block-start: var(--s--30) !important;
}
.-mT\:40 {
	margin-block-start: var(--s--40) !important;
}
.-mT\:50 {
	margin-block-start: var(--s--50) !important;
}
.-mT\:60 {
	margin-block-start: var(--s--60) !important;
}
.-mT\:70 {
	margin-block-start: var(--s--70) !important;
}
.-mT\:80 {
	margin-block-start: var(--s--80) !important;
}
// .-mT\:90 {
// 	margin-block-start: var(--s--90) !important;
// }
// .-mT\:100 {
// 	margin-block-start: var(--s--100) !important;
// }
