
// ulタグなど、デフォルトで一方向にpaddingがついているような要素でも使えるように、各方向で分離している

// p:50, @s{X:30} みたいにクエリ条件下で各部位のみ指定された時を考えて、 has--p@sm みたいなのが個別に必要。
// クラス名で処理した方が絶対に軽いが、ソースがごちゃつきすぎるので一旦data属性。


// [data-props~="-p"],
[class*="-p:"] {
	padding: var(--p) !important;
}

// [data-props*="-pX:"], 
// [data-props~="-pX"],
[class*="-pX:"]{
	padding-left: var(--pX) !important;
	padding-right: var(--pX) !important;
}

// [data-props*="-pY:"], 
// [data-props~="-pY" ],
[class*="-pY:"]{
	padding-top: var(--pY) !important;
	padding-bottom: var(--pY) !important;
}
.-pt\: {
	padding-top: var(--pt) !important;
}
.-pb\: {
	padding-bottom: var(--pb) !important;
}
.-pl\: {
	padding-left: var(--pl) !important;
}
.-pr\: {
	padding-right: var(--pr) !important;
}

// [data-padding="p@_, pt@sm "]
@container (max-width: 720px) {
	.-p\@sm\:{
		padding: var(--p--sm) !important;
	}

	.-pX\@sm\:{
		padding-left: var(--pX--sm) !important;
		padding-right: var(--pX--sm) !important;
	}

	.-pY\@sm\:{
		padding-top: var(--pY--sm) !important;
		padding-bottom: var(--pY--sm) !important;
	}

	.-pt\@sm\: { padding-top: var(--pt--sm) !important;}
	.-pr\@sm\: { padding-right: var(--pr--sm) !important;}
	.-pb\@sm\: { padding-bottom: var(--pb--sm) !important;}
	.-pl\@sm\: { padding-left: var(--pl--sm) !important;}
}

@container (max-width: 440px) {
	.-p\@xs\:{
		padding: var(--p--xs) !important;
	}

	.-pX\@xs\:{
		padding-left: var(--pX--xs) !important;
		padding-right: var(--pX--xs) !important;
	}

	.-pY\@xs\:{
		padding-top: var(--pY--xs) !important;
		padding-bottom: var(--pY--xs) !important;
	}

	.-pt\@xs\: { padding-top: var(--pt--xs) !important;}
	.-pr\@xs\: { padding-right: var(--pr--xs) !important;}
	.-pb\@xs\: { padding-bottom: var(--pb--xs) !important;}
	.-pl\@xs\: { padding-left: var(--pl--xs) !important;}

}

// -p:, -pX:, -pY: にのみユーティリティクラスを用意。
// (でかくて使用頻度がおそらく低いであろう 90,100 は 用意しない)
@for $i from 0 through 6 {
	.-p\:#{$i * 10} {
		--p: var(--space--#{$i * 10});
	}
	.-pX\:#{$i * 10} {
		--pX: var(--space--#{$i * 10});
	}
	.-pY\:#{$i * 10} {
		--pY: var(--space--#{$i * 10});
	}

	// .-p\@sm\:#{$i * 10} {
	// 	--p--sm: var(--space--#{$i * 10});
	// }
	// .-pX\@sm\:#{$i * 10} {
	// 	--pX--sm: var(--space--#{$i * 10});
	// }
	// .-pY\@sm\:#{$i * 10} {
	// 	--pY--sm: var(--space--#{$i * 10});
	// }

	// .-p\@xs\:#{$i * 10} {
	// 	--p--xs: var(--space--#{$i * 10});
	// }
	// .-pX\@xs\:#{$i * 10} {
	// 	--pX--xs: var(--space--#{$i * 10});
	// }
	// .-pY\@xs\:#{$i * 10} {
	// 	--pY--xs: var(--space--#{$i * 10});
	// }
}

// @for $i from 0 through 10 {
// 	[data-props~="-p:#{10*$i}"] {
// 		--p:var(--space--#{10*$i});
// 	}
// }
