:root{
	// border-radius
	// fibo: 1,2,3,5,8,13,21,34,55, ...  ?
	--radius--1: 2px;
	--radius--2: 5px;
	--radius--3: 8px;
	--radius--4: 0.75rem; //13px;
	--radius--5: 1.5rem; //21px;
	--radius--6: 3rem; //34px;
	--radius--99: 999px;
}

.-bdrs\:0{
	border-radius: 0px !important;
}
.-bdrs\:1{
	border-radius: var(--radius--1) !important;
}
.-bdrs\:2{
	border-radius: var(--radius--2) !important;
}
.-bdrs\:3{
	border-radius: var(--radius--3) !important;
}
.-bdrs\:4{
	border-radius: var(--radius--4) !important;
}
.-bdrs\:5{
	border-radius: var(--radius--5) !important;
}
.-bdrs\:6{
	border-radius: var(--radius--6) !important;
}
.-bdrs\:99{
	border-radius: var(--radius--99) !important;
}
