
// [class*="-w:"]
.-w\: {
	width: var(--w) !important;
}
// [class*="-h:"],
.-h\: {
	height: var(--h) !important;
}

@container (max-width: 720px) {
	.-w\@sm\: { width: var(--w--sm) !important;}
	.-h\@sm\: { height: var(--h--sm) !important;}
}

@container (max-width: 440px) {
	.-w\@xs\: { width: var(--w--xs) !important;}
	.-h\@xs\: { height: var(--h--xs) !important;}
}

.-w\:100{
	--w:100%;
}

.-h\:100{
	--w:100%;
}

// width:slim
// width:text
