
[class*="-w:"] {
	width: var(--w) !important;
}
[class*="-h:"] {
	height: var(--h) !important;
}

@container (max-width: 720px) {
	[class*="-w\@sm:"] { width: var(--w_Qsm) !important;}
	[class*="-h\@sm:"] { height: var(--h_Qsm) !important;}
}

@container (max-width: 440px) {
	[class*="-w\@xs:"] { width: var(--w_Qxs) !important;}
	[class*="-h\@xs:"] { height: var(--h_Qxs) !important;}
}
