#main {
	padding: 1em;
	max-width: 45em;
}

header {
	--list-style: none;
}

header > nav {
	display: flex;
	gap: 1em;
	padding: 1em;
	background-color: whitesmoke;
}
footer {
	padding: 1em;
	background-color: whitesmoke;
}

.is--flow > * {
	margin-block-end: 1.5em;
}

ul.l--flex {
	gap: 1em;
	display: flex;
}

/* #main {
	writing-mode: vertical-rl;
	overflow: auto;
	max-width: 100%;
} */
