:where(.b--chatBubble) {
	--bdw: 1px;
	--bgc: #f2f6f9;
	--bdc: #ccdbe5;
	// --icon--bxsh: none;
}
.b--chatBubble {
	// --gta: 'icon body';
	--icon--size: clamp(48px, 24px + 7.5cqw, 72px); // 320:48px~640:72px
	--icon--bdc: var(--bgc);
	--body--mt: calc(var(--icon--size) / 2 + 0.5rem);
	--decorator-size: 0.875rem;
	// --decorator--trnslt: var(--trnsltX) var(--trnsltY);

	gap: calc(var(--decorator-size) - 0.125rem);
	justify-items: var(--place--left);
	align-items: start;
}

.b--chatBubble[data-dir='right'] {
	justify-items: var(--place--right);
	// --gta: 'body icon';
	// --decorator--trnslt: calc(-1 * var(--trnsltX)) var(--trnsltY);
}

// [data-type="think"]{}

.b--chatBubble__icon {
	grid-area: fix;
	z-index: 2;
	background-color: var(--bgc--base);
	border: solid 2px var(--icon--bdc);
	width: var(--icon--size);
	// box-shadow: var(--icon--bxsh);
}

.b--chatBubble__body {
	margin-top: var(--body--mt);
	grid-area: nofix;
	position: relative;
}

.b--chatBubble__name {
	margin-top: var(--body--mt);
	grid-area: nofix;
	line-height: 1.25;
	justify-content: inherit;
}

.b--chatBubble__content {
	position: relative;
	// z-index: 0;
	border: solid var(--bdw) var(--bdc);
	background-color: var(--bgc);
	max-width: 40em;
}

.b--chatBubble--chat[data-dir='left'] .b--chatBubble__content {
	border-top-left-radius: 0 !important;
}

.b--chatBubble--chat[data-dir='right'] .b--chatBubble__content {
	border-top-right-radius: 0 !important;
}

.b--chatBubble--box {
	// --icon--bxsh: var(--shadow--1);
	--body--mt: calc(var(--icon--size) - 1.5rem);
	// --bdw: 2px;
	--icon--bdc: var(--bdc);
	--body--mt--add: 1em;

	> .b--chatBubble__name {
		margin-inline: 0.25em;
	}

	> .b--chatBubble__icon {
		grid-area: fix;
		justify-self: var(--jc);
		// margin: 0 var(--s--10) -0.75em;
		margin-bottom: -0.75em;
	}

	&[data-dir='left'] .b--chatBubble__content {
		margin-left: -1.5em;
	}
	&[data-dir='right'] .b--chatBubble__content {
		margin-right: -1.5em;
	}
}

// decorator
// .e--deco[data-type="chat"]{
// 	--size: var(--decorator-size);
// }
// .e--deco[data-type="think"]{
// 	--size: var(--decorator-size);
// }

.b--chatBubble .e--deco {
	--size: var(--decorator-size);
	width: var(--size);
	height: var(--size);
	// z-index: 0;

	&::before,
	&::after {
		content: '';
		position: absolute;
		inset: 0;
		clip-path: var(--clipPath);
		translate: var(--trnsltX) var(--trnsltY);
		background-color: var(--bgc);
	}
}

// あとで: flip:X みたいなクラス作る
.b--chatBubble[data-dir='right'] .e--deco {
	transform: rotateY(180deg);
}

.e--deco--chat {
	--clipPath: polygon(50% 0%, 100% 0%, 100% 100%);
}

.e--deco--chat::before {
	// z-index: -1;
	--bgc: var(--bdc);
	--trnsltX: 1px;
	--trnsltY: 0;
}
.e--deco--chat::after {
	// z-index: 2;
	--trnsltX: calc(1px + var(--bdw) * 1.5);
	--trnsltY: var(--bdw);
}

// think
.e--deco--think {
	--bgc: var(--bdc);
	z-index: -1;
}
.e--deco--think::before {
	// --bgc: var(--bdc);
	--clipPath: circle(24%);
	--trnsltX: calc(var(--size) * -0.125);
	--trnsltY: calc(var(--size) * -0.125);
}
.e--deco--think::after {
	// --bgc: var(--bdc);
	--clipPath: circle(44%);
	--trnsltX: calc(var(--size) * 0.375);
	--trnsltY: calc(var(--size) * 0.5);
}
