.c--chat {
	// basic - light
	// --pass--bgc: var(--b200);
	// --pass--c: var(--b900);

	// basic - dark
	// --pass--bgc: var(--b900);
	// --pass--c: var(--b200);

	// --pass--bgc: rgb(208, 248, 220);
	--pass--c: var(--b900);
	--pass--bgc: var(--b200); //var(--mixed--base-20);
	// --pass--bdc: #ccdee5;
	// --pass--p: var(--em--5) var(--em--7);
	// --pass--radius: var(--radius--2);

	// --icon--size: clamp(48px, 24px + 7.5cqw, 72px); // 320:48px~640:72px
	--icon--size: clamp(40px, 16px + 7.5cqw, 64px); // 320:40px~640:64px
	--body--mt: 1.25rem; //  calc(var(--icon--size) / 2 + 0.5rem);
	--deco--size: 1rem;

	grid: '. name' 'icon body' '. foot' / auto 1fr;
	column-gap: calc(var(--deco--size) + 0.125rem);
}

.c--chat--start {
	// > [data-type='chat'] > .c--chat__content {border-start-start-radius: 0;}
	// > .c--chat__body > .e--deco {
	// 	inset-inline-end: 100%;
	// }
}
.c--chat--end {
	grid: 'name .' 'body icon' 'foot .' / 1fr auto;
	// > [data-type='chat'] > .c--chat__content {border-start-end-radius: 0;}
	// > .c--chat__body > .e--deco {
	// 	inset-inline-start: 100%;
	// 	transform: scaleX(-1);
	// }
}
.c--chat:where(.has--mixcolor) {
	// --mixper--base-10: 88%;
	// --keycolor: var(--gray);
	--pass--bgc: var(--mixed--base-30);
	--code--bgc: var(--mixed--base-20);
}

.c--chat__icon {
	grid-area: icon;
	--size: var(--icon--size); //  avatar に渡す
}

.c--chat__name {
	grid-area: name;
	margin-bottom: calc(0px - var(--body--mt));
	justify-content: inherit;
}
.c--chat__footer {
	grid-area: foot;
}

// .b--chatText,
.c--chat__body {
	position: relative;
	grid-area: body;
	margin-top: var(--body--mt);
}

.c--chat__content {
	// consumeで受け取り: bgc
	padding: var(--em--7) var(--em--10);
	border-radius: var(--radius--4);
}

// decorator
:where(.c--chat__body) > .e--deco {
	--bgc: var(--pass--bgc);
	--size: var(--deco--size);
	width: var(--size);
	height: var(--size);
	background-color: var(--bgc);
}
.e--deco--chat-speak {
	--mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8"><path d="M8,8L8,8C7.4,4.8,5.4,2,2.6,0.4L2,0h6V8z"/></svg>');
	// --mask-image: url(data:image/svg+xml;base64,...);
}
// think
.e--deco--chat-think {
	--mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8"><circle cx="2" cy="2" r="1.5"/><circle cx="5" cy="5" r="2.2"/></svg>');
	// scale: 1.1;
}

// // 追加スタイル: box
// .c--chat--box {
// 	// --pass--p: var(--p--box);
// 	--body--mt: calc(var(--icon--size) - 1.5rem);
// 	// --body--mt--add: 1em;
// 	gap: 0;

// 	> .c--chat__name {
// 		margin-inline: 0.25em;
// 	}

// 	> .c--chat__icon {
// 		--bdc: var(--pass--bdc);
// 		z-index: 1;
// 		// border-color: var(--bdc);
// 		justify-self: var(--jc);
// 		// margin: 0 var(--s--10) -0.75em;
// 		margin-bottom: -0.75em;
// 	}
// 	.c--chat__content {
// 		padding: var(--em--10) var(--em--10);
// 	}
// 	&.c--chat--start .c--chat__content {
// 		margin-left: -1.5em;
// 	}
// 	&.c--chat--end .c--chat__content {
// 		margin-right: -1.5em;
// 	}
// }

// rtl サポート
[dir='rtl'] {
	.c--chat--start > .c--chat__body > .e--deco {
		transform: scaleX(-1);
	}
	.c--chat--end > .c--chat__body > .e--deco {
		transform: scaleX(1);
	}
}
