:where(.b--chatBubble) {
	--bdw: 1px;
	--bgc: #f2f6f9;
	--bdc: #ccdbe5;
	--icon--bxsh: none;
}
.b--chatBubble {
	// --gta--val: 'icon body';
	--icon--size: clamp(48px, 24px + 7.5cqw, 72px); // 320:48px~640:72px
	--icon--bdc: var(--bgc);
	--body--mt: calc(var(--icon--size) * 0.6);
	--decorator-size: clamp(12px, 8px + 1.25cqw, 16px); //320:12px~640:16px
	// --decorator--trnslt: var(--trnsltX) var(--trnsltY);

	gap: calc(var(--decorator-size) * 0.8);
	justify-items: var(--place--left);
	align-items: start;
}

.b--chatBubble[data-dir='right'] {
	justify-items: var(--place--right);
	// --gta--val: 'body icon';
	// --decorator--trnslt: calc(-1 * var(--trnsltX)) var(--trnsltY);
}

// [data-type="think"]{}

.b--chatBubble__icon {
	grid-area: fix;
	z-index: 2;
	background-color: var(--bgc--base);
	border: solid 2px var(--icon--bdc);
	width: var(--icon--size);
	box-shadow: var(--icon--bxsh);
}

.b--chatBubble__body {
	margin-top: var(--body--mt);
	grid-area: nofix;
	position: relative;
}

.b--chatBubble__name {
	margin-top: var(--body--mt);
	grid-area: nofix;
	line-height: 1.25;
	justify-content: inherit;
}

.b--chatBubble__content {
	position: relative;
	z-index: 1;
	border: solid 1px var(--bdc);
	background-color: var(--bgc);
	max-width: 40em;
}

:where([data-type='chat'][data-dir='left']) > div > .b--chatBubble__content {
	border-top-left-radius: 0 !important;
}

:where([data-type='chat'][data-dir='right']) > div > .b--chatBubble__content {
	border-top-right-radius: 0 !important;
}

:where([data-type='box']) {
	&.b--chatBubble {
		--icon--bxsh: var(--shadow--1);
		--body--mt: 0;
	}

	> .b--chatBubble__name {
		margin-inline: calc(var(--icon--size) + 0.75em);
	}

	> .b--chatBubble__icon {
		grid-area: fix;
		justify-self: var(--jc);
		margin: 0 var(--space--10) - 0.75em;
	}
}

// decorator
// .e--decorator[data-type="chat"]{
// 	--size: var(--decorator-size);
// }
// .e--decorator[data-type="think"]{
// 	--size: var(--decorator-size);
// }

.b--chatBubble__body > .e--decorator {
	--size: var(--decorator-size);
	clip-path: var(--clipPath);
	translate: var(--trnsltX) var(--trnsltY);
}
.b--chatBubble__body > [data-dir='right'] {
	// Xだけマイナスに反転
	translate: calc(-1 * var(--trnsltX)) var(--trnsltY);
}

.e--decorator--chat {
	--clipPath: polygon(50% 0%, 100% 0%, 100% 100%);
}
.e--decorator--chat[data-dir='right'] {
	--clipPath: polygon(50% 0%, 0% 0%, 0% 100%);
}
.e--decorator--chat[data-index='1'] {
	// z-index: -1;
	--bgc: var(--bdc);
	--trnsltX: 1px;
	--trnsltY: 0;
}
.e--decorator--chat[data-index='2'] {
	z-index: 2;
	--trnsltX: calc(1px + var(--bdw) * 1.5);
	--trnsltY: var(--bdw);
}

// think
.e--decorator--think {
	--bgc: var(--bdc);
}
.e--decorator--think[data-index='1'] {
	// --bgc: var(--bdc);
	--clipPath: circle(24%);
	--trnsltX: calc(var(--decorator-size) * -0.125);
	--trnsltY: calc(var(--decorator-size) * -0.125);
}
.e--decorator--think[data-index='2'] {
	// --bgc: var(--bdc);
	--clipPath: circle(44%);
	--trnsltX: calc(var(--decorator-size) * 0.375);
	--trnsltY: calc(var(--decorator-size) * 0.5);
}
