:where(.e--icon) {
	--size: 1em;
	--scale: 1;
	display: inline-flex;
	transform: scale(var(--scale));
	line-height: 1;
	align-items: center;
	justify-content: center;
	vertical-align: middle; //下にスペースができるのを防ぐ
	font-size: var(--size);
	font-family: var(--ff--emoji);

	// > svg {
	// 	// display: block;
	// 	width: var(--size);
	// 	height: var(--size);
	// 	color: inherit;
	// }
}
.e--icon--inline {
	--scale: 1.125; // inlineアイコンはデフォルト状態で少し拡大表示
	vertical-align: -0.125em;
	margin-inline: calc(1em * (var(--scale) - 1) / 2);
	// line-height: inherit;
}

// data-icon: iconを文字列で指定すると出力される。CSSでアイコン表示するときに使う
.e--icon[data-icon] {
	// line-height: 1;
	// text-align: center;
	// font-size: var(--size);
	width: 1em;
	height: 1em;
}

.e--icon[data-icon='accordion-toggle'] {
	background-color: currentColor;
	clip-path: polygon(50% 76%, 10% 25%, 90% 25%);
}
