:where(.e--icon) {
	--size: 1em;
	--scale: 1;
	display: inline-flex;
	transform: scale(var(--scale));
	line-height: 1;
	align-items: center;
	justify-content: center;
	vertical-align: middle; //下にスペースができるのを防ぐ
	font-size: var(--size);
	font-family: var(--ff--emoji);
	flex-shrink: 0;

	// > svg {
	// 	// display: block;
	// 	width: var(--size);
	// 	height: var(--size);
	// 	color: inherit;
	// }
}
.e--icon--inline {
	--scale: 1.125; // inlineアイコンはデフォルト状態で少し拡大表示
	vertical-align: -0.125em;
	margin-inline: calc(1em * (var(--scale) - 1) / 2);
	// line-height: inherit;
}

// data-icon: iconを文字列で指定すると出力される。CSSでアイコン表示するときに使う
.e--icon[data-icon] {
	// line-height: 1;
	// text-align: center;
	// font-size: var(--size);
	width: 1em;
	height: 1em;
}

// .e--icon[data-icon='accordion-toggle'] {
// 	background-color: currentColor;
// 	clip-path: polygon(50% 76%, 10% 25%, 90% 25%);
// }

.e--icon[data-icon^='svg-'] {
	background: currentColor;
	mask-repeat: no-repeat;
	mask-position: center center;
	mask-size: contain;
	mask-image: var(--mask-image);
}

.e--icon[data-icon='svg-caret-down'] {
	--mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23000" viewBox="0 0 24 24"><path d="M20.1,7.6L12,15.7L3.9,7.6c-0.2-0.2-0.5-0.2-0.7,0L2.4,8.4c-0.2,0.2-0.2,0.5,0,0.7l8.1,8.1l1.5,1.5l1.5-1.5l8.1-8.1 c0.2-0.2,0.2-0.5,0-0.7l-0.8-0.8C20.6,7.4,20.3,7.4,20.1,7.6z"/></svg>');
}
.e--icon[data-icon='svg-caret-down-fill'] {
	--mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23000" viewBox="0 0 24 24"><path d="M12.6,18.3L21,8.2C21.4,7.7,21,7,20.4,7H3.6C3,7,2.6,7.7,3,8.2l8.4,10.1C11.7,18.7,12.3,18.7,12.6,18.3z"/></svg>');
}
