/*

listについて
	- 前提: ul,ol をむやみに使用しないように注意する。
	- flowエリアでのみpaddingつける？
	- list-styleはデフォルトの挙動に従う。必要なところだけで list-style: none;
	- styleクエリがきたら、flex要素などに変数セットして、その変数を判定に使って list-style: none; にする?
*/

@layer lism-init {
	:root {
		--list--padding: 1.5em;
	}
	/*
		list
	 */
	:is(ul, ol) {
		// 子要素含めてすべて変更したい時 → CSS変数を使う
		padding-inline-start: var(--list--padding, 0);
		list-style: var(--list-style, revert);
	}

	/*
		dl
	 */
	dd {
		// padding-inline-start: var(--dd-padding, 1.25em);
		margin-inline-start: var(--s--50);
	}
	// dt {font-weight: bold;}
	dl > :is(dt, div):not(:first-child) {
		margin-block-start: 0.5em;
	}
}
