:where(.has\:itemGuide > *) {
	border: 1px dashed hsla(0, 0%, 63%, 0.4);
	/* padding: 2px 4px; */
}
/* 
html{
	height: 100%;
} */
/* body{
	background-color: #ccc;
} */
/* #root{
	min-height: 100dvh;
} */

:root {
	/* // グラデーション用のカラープリセット */
	--gradient-color--lime: #abecd6 0%, #fbed96 100%;
	--gradient-color--dense-water: #3ab5b0 0%, #3d99be 31%, #56317a 100%;
}

.-gradient\:sunset{
	background-image: linear-gradient(
		to top,
		#3f51b1 0%,
		#5a55ae 13%,
		#7b5fac 25%,
		#8f6aae 38%,
		#a86aa4 50%,
		#cc6b8e 62%,
		#f18271 75%,
		#f3a469 87%,
		#f7c978 100%
	);
}

.-gradient\:2{
	background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.-gradient\:blue{
	background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
