// [data-nest-level='1'] {
// 	--level: 1;
// }
// [data-nest-level='2'] {
// 	--level: 2;
// }
// [data-nest-level='3'] {
// 	--level: 3;
// }

.c--navMenu {
	--hov--c: currentColor;
	--hov--bgc: var(--bgc--pale);
	--list-style: none;
	--list--padding: 0;
	--subNav--maxW: 10em;

	// provider
	--pass--p: var(--p--box--s); // __text用
}

// 子項目の余白をmarginで調整する場合
.c--navMenu[data-nest-level] {
	--list--padding: 1em; //var(--s--30);
	// margin-inline-start: var(--item--ms);
}

// <li>
// .c--navMenu__item {
// 	padding: var(--item--p);
// 	// margin-inline-start: var(--item--ms);
// }

// <a> or <span>
.c--navMenu__text {
	color: inherit;
	text-decoration: none;
	outline-offset: -1px;
	// padding: var(--item--p);
}
a.c--navMenu__text:hover {
	color: var(--hov--c);
	background-color: var(--hov--bgc);
}

// 子項目の余白をpaddingで調整する場合
// .c--navMenu[data-nest-level]{
// 	--item--pl: calc(var(--item--px) + (var(--level) * 1.25em));
// }

.c--navMenu.l--flex {
	.c--navMenu {
		--list--padding: 0;
	}

	.c--navMenu[data-nest-level='1'] {
		max-width: var(--subNav--maxW);
	}

	.c--accordion__body {
		position: absolute;
	}
}

// .c--navMenu--line {
// 	> .c--navMenu__item + .c--navMenu__item {
// 		border-top: 1px solid var(--bdc);
// 	}
// }
