@use '../query' as query;

.l--grid {
	// 初期値セット
	// --gta: none;
	--gtc: none;
	--gtr: none;
	// --gta: none;
	--gt: var(--gtr) / var(--gtc);

	display: grid !important; // ユーティリティ的な側面もあり、組み合わせ方でレイアウトを変えることもあるので !important 付与
	grid-template: var(--gt);
	// grid-template-areas: var(--gta);

	// grid-template-columns: var(--gtc);
	// grid-template-rows: var(--gtr);
	// gap: var(--gap);
}

// --------------------
// 比率固定グリッド
// --------------------
.l--grid--ratio {
	--gtc: 1fr 1fr; // 初期値

	// display: grid;
	// grid-template-columns: var(--gtc);
}

// --------------------
// TileGrid
// --------------------
.l--grid--tile {
	// display: grid;
	--item--minW: var(--size--item); // var(--contentSize--xs)

	// auto-fill or auto-fit : 親の幅に対してアイテムが少ない時に、引き伸ばすか、伸ばさないか
	--gtc: repeat(auto-fit, minmax(min(var(--item--minW), 100%), 1fr));
}

// --------------------
// SwapGrid
// --------------------
// 一応 area名は . ではなく . で、子要素から指定できるようにしている。
.l--grid--swap {
	--sideW: auto;
	--gt: '.' 'side' / auto;

	// top指定がある時
	&:where([data-side~='top']) {
		--gt: 'side' '.' / auto;
	}

	// 横並び (horizontal) 時のプロパティ
	--gt--hz: 'side .' / var(--sideW) 1fr;

	&:where([data-side~='end']) {
		--gt--hz: '. side' / 1fr var(--sideW);
	}
}

.l--grid--swap:where(.-gt\@sm) {
	--gt--sm: var(--gt--hz);
}
.l--grid--swap:where(.-gt\@md) {
	--gt--md: var(--gt--hz);
}

// .l--grid--swap[data-bp='sm'] {
// 	@include query.bp-up('sm') {
// 		--gt: var(--gt--hz);
// 	}
// }

// .l--grid--swap[data-bp='md'] {
// 	@include query.bp-up('md') {
// 		--gt: var(--gt--hz);
// 	}
// }
