// @supports (color: color-mix(in srgb, #000, #fff)) {
:root {
	// --mixcolorspace: srgb
	--cbox-mixper: 4%;
	--cbox-mixper--bdc: 15%;
	--cbox-mixper--c: 20%;
	--cbox-mixper--link-c: 60%;
	--cbox-mixbase: var(--base); //transparent;
	--cbox-mixbase--c: var(--content);
	// --cbox-mixbase--bdc: transparent;
	// --cbox-mixper--code-bg: 10%;

	// --mixper-text-20: 32%;
}

/* stylelint-disable */

.is--colorbox {
	// c,bdc は 変数セットのみ
	// --c: var(--cbox-c, var(--content));
	--bdc: var(--cbox-bdc, var(--base-3));
	color: var(--cbox-c, var(--content));
	background-color: var(--cbox-bgc, var(--base-2));
}
@supports (color: color-mix(in srgb, #000, #fff)) {
	// --keycolor 必須. 親から引き継ぎたいこともあるかもしれないので、初期セットはしない
	.is--colorbox {
		--cbox-c: color-mix( in srgb, var(--cbox-mixbase--c), var(--keycolor) var(--cbox-mixper--c));
		--cbox-bgc: color-mix(in srgb, var(--cbox-mixbase), var(--keycolor) var(--cbox-mixper));
		--cbox-bdc: color-mix(in srgb, var(--cbox-mixbase), var(--keycolor) var(--cbox-mixper--bdc));
		// --cbox-link-c: color-mix( in srgb, var(--cbox-mixbase--c), var(--keycolor) var(--cbox-mixper--link-c));
		// --cbox-code-bgc: color-mix(in srgb, var(--cbox-mixbase), var(--keycolor) var(--cbox-mixper--code-bgc));

		// --shadowColor:
		--link-c: color-mix( in srgb, var(--cbox-mixbase--c), var(--keycolor) var(--cbox-mixper--link-c));
		// --code-c: var(--link-c);
		// --code-bgc: color-mix(in srgb, transparent, currentColor 4%);
	}
}
