.has--divider\:B,
.has--divider\:I {
	--bdc: var(--bdc--base);
	--bdw: 1px;
	--bds: solid;
}

// シンプルに * > *
.has--divider\:B > * + * {
	border-block-start: var(--bdw) var(--bds) var(--bdc);
}

// flexでの折返しを考慮して、end方向につける
.has--divider\:I > :not(:last-child) {
	border-inline-end: var(--bdw) var(--bds) var(--bdc);
}

// .has--delimiter {
// 	--delimiter: '/';
// 	--delimiter--c: currentColor; // var(--bdc--base);

// 	> * {
// 		display: flex;
// 		gap: inherit;
// 		align-items: inherit;
// 	}
// 	> * + *::before {
// 		// font-family: Arial, sans-serif;
// 		font-family: var(--ff--mono);
// 		color: var(--delimiter--c);
// 		content: var(--delimiter);
// 	}
// }
