.has--divider\:B,
.has--divider\:I {
	--bdc: var(--bdc--base);
	--bdw: 1px;
	--bds: solid;
}

// シンプルに * > *
.has--divider\:B > * + * {
	border-block-start: var(--bdw) var(--bds) var(--bdc);
}

// flexでの折返しを考慮して、end方向につける
.has--divider\:I > :not(:last-child) {
	border-inline-end: var(--bdw) var(--bds) var(--bdc);
}
