@use './base/layer';
@use './base/reset';
@use './base/tokens';

body {
	// WPでは、カラー・タイポグラフィなどについては theme.json 設定によって出力される
	background-color: var(--bgc--base);
	color: var(--c--base);
	font-family: var(--root--ff);
	font-size: var(--root--fz);
	line-height: var(--root--lh);
	overflow-x: clip;
	container-type: inline-size;
}

a {
	color: var(--link--c);
	text-decoration: underline;
	text-underline-offset: var(--link--underlineOffset);
}
