@use 'sass:map';
@use 'sass:string';

// ユーティリティクラス化するスペースの値
$util_spaces: 5, 10, 15, 20, 30, 40, 50 !default;
$util_em_tokens: 1, 2, 3, 5, 7, 10, 15, 20, 25, 30 !default;

$utilities: () !default;
$prop_class_data: () !default;
$utility_bps: () !default;
$bp_props: () !default;
$prop_list: () !default;

// ユーティリティクラスを出力するブレイクポイントのリスト
$utility_bps: map.merge(
	(
		'sm': 1,
		'md': 1,
		'lg': 0,
	),
	$utility_bps
);

/*
prop: CSSプロパティ名
important: 1 →　!important を付ける
base_type:
	0 →　なし（ユーティリティクラス以外はインラインスタイルのみ）
	1 →　.-d\:{display: var(--d)}
	2 → [class*='-aspect\:'] aspect-ratio: var(--aspect);}
utilities: ユーティリティクラスのセレクタと値のリスト
special_utilities: 特殊な値をセットしたいユーティリティクラスのセレクタと値のリスト
*/

// map.get($data, prop);
$utilities: (
	's': (
		'0': '0',
		'5': 'var(--s--5)',
		'10': 'var(--s--10)',
		'15': 'var(--s--15)',
		'20': 'var(--s--20)',
		'30': 'var(--s--30)',
		'40': 'var(--s--40)',
		'50': 'var(--s--50)',
	),
	'em': (
		'em1': 'var(--em--1)',
		'em2': 'var(--em--2)',
		'em3': 'var(--em--3)',
		'em5': 'var(--em--5)',
		'em7': 'var(--em--7)',
		'em10': 'var(--em--10)',
	),
	'm': (
		'0': '0',
		'a': 'auto',
	),
	'p': (
		'box': 'var(--p--box)',
		'box\\:s': 'var(--p--box--s)',
	),
	'p-side': (
		'0': '0',
	),
	'c': (
		'main': 'var(--main)',
		// 'accent': 'var(--accent)',
		'content': 'var(--content)',
		'content-2': 'var(--content-2)',
		'content-3': 'var(--content-3)',
		'base': 'var(--base)',
	),
	'bgc': (
		'main': 'var(--main)',
		// 'accent': 'var(--accent)',
		'base': 'var(--base)',
		'base-2': 'var(--base-2)',
		'base-3': 'var(--base-3)',
		'content': 'var(--content)',
		't': 'transparent',
	),
	'bdc': (
		// 'main': 'var(--main)',
		't': 'transparent',
		'divider': 'var(---divider-bdc)',
		'table': 'var(---table-bdc)',
	),
	'bds': (
		'dt': dotted,
		'ds': dashed,
		's': solid,
		'db': double,
	),
	'size': (
		'fit': 'fit-content',
		'100': '100%',
		// '75': '75%',
		// '50': '50%',
	),
	'max': (
		'100': '100%',
	),
	'min': (
		'100': '100%',
	),
	'd': (
		'n': 'none',
		'b': 'block',
		'f': 'flex',
		'g': 'grid',
		'i': 'inline',
		'if': 'inline-flex',
		'ig': 'inline-grid',
		'ib': 'inline-block',
	),
	'aspect': (
		'16\\/9': '16/9',
		'4\\/3': '4/3',
		'3\\/2': '3/2',
		'2\\/1': '2/1',
		'1\\/1': '1/1',
		'golden': '16.18/10',
		'silver': '14.14/10',
		'bronze': '33.03/10',
		'ogp': '1.91/1',
		'cinema': '2.35/1',
	),
	'gt': (
		'side\\:s,side\\:sl': '"side ." / auto 1fr;',
		// .-gt\:side\:s, .-gt\:side\:l { grid-template: 'side .' / auto 1fr; }
		// .-gt\:side\:e, .-gt\:side\:r { grid-template: '. side' / 1fr auto; }
	),
);

$prop_class_data: map.deep-merge(
	(
		'w': (
			prop: 'width',
			// important: 1,
			utilities: 'size',
			bp: 1,
		),

		'h': (
			prop: 'height',
			utilities: 'size',
			special_utilities: (
				'screen': 'height: 100vh; height: 100dvh;',
				//height: calc(100vw - var(--sbar))
			),
			bp: 1,
			// bp: (
			// 	lg: 1,
			// ),
		),
		'maxW': (
			prop: 'max-width',
			utilities: 'max',
		),
		'minW': (
			prop: 'min-width',
			utilities: 'min',
		),
		'maxH': (
			prop: 'max-height',
			utilities: 'max',
		),
		'minH': (
			prop: 'min-height',
			utilities: 'min',
		),
		'd': (
			prop: 'display',
			important: 1,
			utilities: 'd',
			bp: 1,
		),
		'aspect': (
			prop: 'aspect-ratio',
			base_type: 2,
			utilities: 'aspect',
		),
		'c': (
			prop: 'color',
			base_type: 2,
			important: 1,
			utilities: 'c',
		),
		'bgc': (
			prop: 'background-color',
			base_type: 2,
			important: 1,
			utilities: 'bgc',
		),
		'bdc': (
			prop: '--bdc',
			base_type: 0,
			utilities: 'bdc',
		),
		'bds': (
			prop: '--bds',
			base_type: 0,
			utilities: 'bds',
		),
		'fz': (
			prop: 'font-size',
		),
		'gap': (
			prop: 'gap',
			utilities: s em,
		),
		'colg': (
			prop: 'column-gap',
		),
		'rowg': (
			prop: 'row-gap',
		),
		'm': (
			prop: 'margin',
			base_type: 2,
			important: 1,
			bp: 1,
			utilities: 'm',
			// utilities: s m,
		),
		'mx': (
			prop: 'margin-inline',
			// base_type: 2,
			important: 1,
			bp: 1,
			utilities: 'm',
		),
		'my': (
			prop: 'margin-block',
			// base_type: 2,
			important: 1,
			bp: 1,
			utilities: 'm',
		),
		'mt': (
			prop: 'margin-top',
			important: 1,
			bp: 1,
			utilities: 'm',
		),
		'mr': (
			prop: 'margin-right',
			important: 1,
			bp: 1,
			utilities: 'm',
		),
		'mb': (
			prop: 'margin-bottom',
			important: 1,
			bp: 1,
			utilities: 'm',
		),
		'ml': (
			prop: 'margin-left',
			important: 1,
			bp: 1,
			utilities: 'm',
		),
		'mis': (
			prop: 'margin-inline-start',
			important: 1,
			bp: 1,
			utilities: 'm',
		),
		'mbs': (
			prop: 'margin-block-start',
			base_type: 2,
			important: 1,
			bp: 1,
			utilities: m s,
		),
		'p': (
			prop: 'padding',
			base_type: 2,
			important: 1,
			bp: 1,
			utilities: s em p,
		),
		'px': (
			prop: 'padding-inline',
			base_type: 2,
			important: 1,
			bp: 1,
			utilities: s em,
		),
		'py': (
			prop: 'padding-block',
			base_type: 2,
			important: 1,
			bp: 1,
			utilities: s em,
		),
		'pt': (
			prop: 'padding-top',
			important: 1,
			bp: 1,
			utilities: 'p-side',
		),
		'pr': (
			prop: 'padding-right',
			important: 1,
			utilities: 'p-side',
		),
		'pb': (
			prop: 'padding-bottom',
			important: 1,
			utilities: 'p-side',
		),
		'pl': (
			prop: 'padding-left',
			important: 1,
			utilities: 'p-side',
		),
		'pis': (
			prop: 'padding-inline-start',
			important: 1,
			utilities: 'p-side',
		),
		'pbs': (
			prop: 'padding-block-start',
			important: 1,
			utilities: 'p-side',
		),
		'gt': (
			prop: 'grid-template',
			// important: 1,
			utilities: 'gt',
		),
	),
	$prop_class_data
);
