@forward '../components/Decorator/style.scss';
@forward '../components/DecoBox/style.scss';

@forward '../components/Avatar/style.scss';
@forward '../components/Badge/style.scss';
@forward '../components/Icon/style.scss';
@forward '../components/Button/style.scss';
@forward '../components/Delimiter/style.scss';

@forward '../components/LinkBox/style.scss';

.l--end,
.is--end {
	margin-block-start: auto !important;
	margin-block-end: 0 !important;
	place-self: end;
}
