

// is--stackなどがついたときにflexで上書きできるように
// :where(.b--linkBox) {
// 	display: block;
// }


.b--linkBox {
	// display: block;
	color: inherit;
	text-decoration: none;
	position: relative;
	cursor: pointer;

	&:not(.is--flex):not(.is--grid){
		display: block;
	}

	> [data-linkbox="a"]{
		position: absolute;
		z-index: -1;
		visibility: hidden;
		pointer-events: none;
	}
}
