

// is--stackなどがついたときにflexで上書きできるように
// :where(.l--box--link) {
// 	display: block;
// }

// .is--linkBox,
.is--linkBox {
	// display: block;
	color: inherit;
	text-decoration: none;
	cursor: pointer;

	&:not(.is--flex):not(.is--grid){
		display: block;
	}

	[data-linkbox="a"]{
		position: absolute;
	}
}
