

// is--stackなどがついたときにflexで上書きできるように
:where(.is--linkBox) {
	display: block;
}

.is--linkBox {
	color: inherit;
	text-decoration: none;
	// border: solid 1px #ccc;
	// border-radius: 4px;
	cursor: pointer;

	// &:hover,
	// &:focus{
	// 	// outline: solid 1px var(--ls--color--link);
	// 	border: solid 1px var(--ls--color--link);
	// }

	// 内部にaタグがある場合。
	// &[data-has-inner-link]{

	// }

	transition: filter, opacity, box-shadow, transform, border-color;
	transition-duration: .25s;

	// ホバー時の背景色を指定する？
	&[data-hover="bg"]{
		// transition: filter .25s;
		// will-change: filter;
	}
	// &[data-hover="dark"]{
	// 	transition: filter .25s;
	// 	// will-change: filter;
	// }
	// &[data-hover="opacity"]{
	// 	transition: opacity .25s;
	// }
	// &[data-hover="shadow"]{
	// 	transition: box-shadow .3s;
	// }
	// &[data-hover="up"]{
	// 	transition: box-shadow .3s, transform .3s;
	// }
	&[data-hover*="border"]{
		border: solid 2px transparent;
	}


	// &:focus,
	&:hover{

		// opacity: var(--opacity--hover, 1);
		// filter: var(--opacity--hover, unset);

		&[data-hover*="border"]{
			border-color: var(--ls--color--link);
		}
		&[data-hover*="dark"]{
			filter: brightness(.8) contrast(1.2);//grayscale(5%);
		}
		&[data-hover*="opacity"]{
			opacity: .75;
		}
		&[data-hover*="shadow"]{
			// ユーティリティに負けないように
			box-shadow: var(--shadow--hover, var(--ls--shadow--linkBox--hover)) !important;
		}
		&[data-hover*="up"]{
			// ユーティリティに負けないように
			// box-shadow: var(--shadow--hover, var(--ls--shadow--linkBox--hover)) !important;
			transform: translateY(-3px);
		}
	}

	// mediaへのホバー効果
	.l--layer--media__item{
		transition: transform .3s, filter .3s;
	}

	&[data-hover*="mediaZoom"] {

		&:hover .l--layer--media__item{
			transform: scale(1.1);
		}
	}

	// ※ filter どうしは同時使用できない
	&[data-hover*="mediaDark"] {
		&:hover .l--layer--media__item{
			filter: brightness(.9);
		}
	}
	&[data-hover*="mediaBright"] {
		&:hover .l--layer--media__item{
			filter: brightness(1.1);
		}
	}

	&[data-hover*="mediaBlur"] {
		&:hover .l--layer--media__item{
			filter: blur(4px);
		}
	}
}

.is--linkBox[href="/"]{
	opacity: .4;
}
