.e--avatar {
	--size: auto;
	inline-size: var(--size);
	// width: var(--size);
	// height: var(--size);
	// overflow: hidden;
	display: inline-flex;
	aspect-ratio: 1/1;

	// > img {
	// 	width: 100%;
	// 	height: 100%;
	// 	object-fit: cover;
	// }
}
