// ネストされている時はpX継承できるように
:where(.b--navMenu:not([data-nest-level])) {
	--item-py: var(--space--20);
	--item-px: var(--space--30);
	// --item-pl: var(--item-px);
	--item-ml: 0;
	--level: 0;
	--hov--bgc: var(--c--whitesmoke);

	// --bdc: var(--c--border);
	// --bd: solid 1px var(--bdc);
}


// <li>
.b--navMenu__item {
	line-height: 1.5;
	margin-left: var(--item-ml);


}
.l--accordion__bodyInner > .b--navMenu{
	// アウトラインが ov:hiddenによって 見えなく鳴るのを防ぐ?
	// padding: 2px;
	outline-offset: -2px;
}

// <a> or <span>
.b--navMenu__text {
	display: flex;
	align-items: center;
	gap: var(--space--20);
	padding: var(--item-py) var(--item-px);
	color: inherit;
	text-decoration: none;
	// align-items: baseline;
	// justify-content: space-between;
}


// 子項目の余白をpaddingで調整する場合
// .b--navMenu[data-nest-level]{
// 	--item-pl: calc(var(--item-px) + (var(--level) * 1.25em));
// }

// 子項目の余白をmarginで調整する場合
.b--navMenu[data-nest-level] {
	--item-ml: var(--space--40);
}

.b--navMenu__acc > .l--accordion__header{
	--p: 0 var(--item-px) 0 0;
}

.b--navMenu.l--cluster{
	.b--navMenu[data-nest-level]{
		--item-ml: 0;
	}
	.l--accordion__body{
		position: absolute;
	}
}
