:root{
	--ls--icon--scale: 1.125;
}

// インライン
.e--icon{
	vertical-align: -.125em;
	// margin-inline: 0.25em; // 0.125(16px で 2pxの余白ができる) * 2
	margin-inline: 0.125em;
	transform: scale(var(--ls--icon--scale));

	// font-size: 1.125em;
	// margin-inline: 0.125em;
	// display: inline-flex;
	// align-items: baseline;
}


.l--icon{
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	height: fit-content;
	--ls--icon--scale: 1;

	> .e--icon{
		display: block;
		margin-inline: 0;
		vertical-align: unset;
		flex-shrink: 0;
	}
}
