@layer lism-init {
	html {
		font-size: var(--fz--root);
	}

	body {
		// WPでは、カラー・タイポグラフィなどについては theme.json 設定によって出力される
		background-color: var(--bgc--base);
		color: var(--c--base);
		font-family: var(--ff--base);
		font-size: 1rem;
		line-height: var(--lh--base);
		overflow-x: clip;
		// 子孫要素の position:fixed の挙動が変わってしまうので body には使わない
		// container-type: inline-size;
	}

	// a {
	// 	color: var(--link--c); // --c--link?
	// 	text-decoration: underline;
	// 	text-underline-offset: var(--link--underlineOffset);
	// }
}
