@layer lism-init {
	// フォーカス要素
	:where(:focus-visible) {
		outline-color: var(--focus--color, revert);
		outline-offset: var(--focus--outlineOffset, revert);
	}

	pre {
		padding: var(--p--box);
		color: var(--b800);
		background-color: var(--b100);
	}

	code {
		font-size: 0.9em;
		font-family: var(--ff--mono);
	}

	:not(pre) > code {
		color: var(--code--c);
		background-color: var(--code--bgc);
		// border: solid 1px var(--code--bdc);
		padding: 0.125em 0.25em;
		border-radius: 2px;
		display: inline-block; // できるだけ途中で改行されないように
		line-height: 1.25;
	}

	a > code {
		color: inherit;
		text-decoration: inherit;
	}

	kbd {
		font-size: 0.9em;
		font-family: var(--ff--mono);
		color: var(--code--c);
		background-color: var(--code--bgc);
		border: solid 1px var(--b300);
		border-radius: 2px;
		box-shadow: 0 1px 0 var(--b300);
		padding: 0.25em 0.5em;
		display: inline-block; // できるだけ途中で改行されないように
		line-height: 1.25;
	}

	/* hrのスタイリング. currentColor */
	hr {
		// --hr--color: currentColor;
		border: none;
		border-block-start: 1px solid var(--hr--color);
		color: inherit;
		block-size: 0;
		// overflow: visible; ?
	}

	// small, mark
	// table,

	blockquote {
		// background: whitesmoke;
		border-left: solid 2px currentColor;
		padding: 1em; // space--40?
	}

	figcaption {
		font-size: smaller;
	}
	figcaption:last-child {
		margin-block-start: 0.5em;
	}

	// small {
	// 	font-size: var(--fz--xs);
	// }
}

// .is--linkbox を考慮して、リンクの pointer-events: auto;は 明示的に指定しておく。
a {
	pointer-events: auto;
	color: var(--link--c); // --c--link?
	text-decoration: underline;
	text-underline-offset: var(--link--underlineOffset);
}
