@use './reset';
@use './elements';
@use './elements/table';
@use './elements/list';

body {
	// WPでは theme.json 設定によって出力される
	background-color: var(--c--bg); // var(--wp--preset--c--bg-primary);
	color: var(--c--text); // var(--wp--preset--c--text-normal);
	font-family: var(--root--ff); //var(--wp--preset--font-family--system-font);
	font-size: var(--root--fz);
	line-height: var(--root--lh);
}

a {
	color: var(--c--link);
	text-decoration: underline;
}
