@forward './reset';

@forward './body';
@forward './heading';
@forward './table';
@forward './list';
@forward './others';

// field--rest ?
.btn--reset {
	color: inherit;
	background: none;
	border: none;
	font: inherit;
}
