@use '../../../scss/query' as query;

// 一応 area名は . ではなく nofix で、子要素から指定できるようにしている。
.l--switchFix {
	--fixW: auto;
	display: grid;
	grid-template-areas: var(--gta);
	grid-template-columns: var(--gtc);

	--gtc: auto;
	--gta: 'nofix' 'fix';

	// up指定がある時
	&[data-fix~='up'] {
		--gta: 'fix' 'nofix';
	}
	// &[data-fix~='down'] {
	// 	--gta: 'nofix' 'fix';
	// }

	// 横並び時のgridオプション
	// &[data-fix~='left'] {
	--gta--horizontal: 'fix nofix';
	--gtc--horizontal: var(--fixW) 1fr;
	// }

	&[data-fix~='right'] {
		--gta--horizontal: 'nofix fix';
		--gtc--horizontal: 1fr var(--fixW);
	}

	// 折返しタイミンを切り替えれるようにしている
	// &.-gta\@sm\: {
	// 	--gta--sm: var(--gta--horizontal);
	// 	--gtc--sm: var(--gtc--horizontal);
	// }
	// &.-gta\@md\: {
	// 	--gta--md: var(--gta--horizontal);
	// 	--gtc--md: var(--gtc--horizontal);
	// }
}

.l--switchFix[data-bp='sm'] {
	@include query.cq('sm') {
		--gta: var(--gta--horizontal);
		--gtc: var(--gtc--horizontal);
	}
}

.l--switchFix[data-bp='md'] {
	@include query.cq('md') {
		--gta: var(--gta--horizontal);
		--gtc: var(--gtc--horizontal);
	}
}
