// :root {}

// ddへのブラウザのデフォルトスタイルがあたってしまうのを防ぐ
// :where(.b--faq__a) {
// 	margin: 0;
// }

// :where(.b--faq) {}
[data-css-icon="Q"]::before{
	font-family: Arial, sans-serif;
	content: "Q";
}
[data-css-icon="A"]::before{
	font-family: Arial, sans-serif;
	content: "A";
}

.b--faq__q,
.b--faq__a {
	// position: relative;

	&.l--flex{
		align-items: baseline;
		gap: var(--space--30);
	}
}



// .b--faq__icon{
// 	grid-area: icon;
// }
// .b--faq__title{
// 	grid-area: text;
// }

