:root {
	--accordion--duration: 0.25s;
}

.c--accordion {
	--isOpened: 0;
	--duration: var(--accordion--duration);
	overflow: clip; // bdrs考慮

	// 開いた時
	&.-opened {
		--isOpened: 1;
	}
}

.c--accordion__header {
	cursor: pointer;
	// align-items: center;
	// justify-content: space-between;
	min-height: 3.25em;
	outline-offset: -1px; // overflow:clip|hidden; で見えなくなってしまうので 内側へ

	/* Safariで表示されるデフォルトの三角形アイコンを消します */
	&::-webkit-details-marker {
		display: none;
	}
}

.c--accordion__label {
	flex-grow: 1;
	// overflow-wrap: anywhere;
}

.c--accordion__body {
	display: grid;
	grid-template-rows: 1fr;
	transition-property: padding, opacity, grid-template-rows;
	transition-duration: var(--duration);
}

.c--accordion__inner {
	overflow: hidden; // ※ 正常な animation に必須
}

// 閉じている時
.c--accordion:not(.-opened) {
	> .c--accordion__body {
		opacity: 0.1;
		grid-template-rows: 0fr;
		// grid-template-rows: 0fr;
		padding-block: 0 !important;
	}
}

// アコーディオンブロックのネスト時、別のアイコンタイプにすると表示が崩れるがそこまでは考慮しない。
.c--accordion__icon {
	// display: flex;
	// flex-shrink: 0;
	// --gta: "icon";

	// __icon 自体にborderつけたりすると回転が見えてしまうので、 icon自体を回転させる。
	> .e--icon {
		// grid-area: icon;
		transition: rotate 0.25s;
		rotate: calc(0deg - var(--isOpened) * 180deg);
	}
	> [data-to='open'] {
		opacity: calc(1 - var(--isOpened));
	}
	> [data-to='close'] {
		opacity: calc(0 + var(--isOpened));
		position: absolute;
		rotate: calc(180deg - var(--isOpened) * 180deg);
	}
}

// [data-clickable="icon"] のとき
:where(.c--accordion__icon[data-role='trigger']) {
	padding: 0.325em;
	border: solid 1px currentColor;
	// border-radius: var(--radius--1);
}

.c--accordion__header:has([data-role='trigger']) {
	pointer-events: none;
}

.c--accordion__label > a,
.c--accordion__icon {
	pointer-events: auto;
}
// .-opened > .c--accordion__header > .c--accordion__icon {
// 	transform: rotate(180deg);

// 	// [data-icon-type="plus"] > .-opened でちゃんと指定したいがCSS長くなるのでdata指定なしでいく
// 	// &::after {
// 	// 	opacity: 0;
// 	// }
// }
