
:root{
	/*
	 * カラー: ユーザー側で定義が必要
	 *    base:main:accent = 70:25:5の法則 ( https://chot.design/concept-of-design/02d49c79f19a/ )
	 *    + α
	 */
	--c--bg: #fdfdfd; // 背景色メイン
	--c--main: #2F4858; // メインカラー
	--c--accent: #be3455; // mainと逆の目立つ色

	--hs--gray: 215, 8%;

	// 確定
	--c--link: #0c61e4; // リンク色
	--c--text: #111; // テキスト色
	--c--headline: #00473e; // 見出しカラー
	// --bdc--table: #dcdcdc; 
	
	// どうする
	--c--sub: #dde7f0; // main と相性のいい、背景色に使うような薄い色？

	--c--black: #000;
	
	// gray
	--c--dimgray: hsl(var(--hs--gray), 20%); // gray 90
	--c--darkgray: hsl(var(--hs--gray), 32%); // gray 70
	--c--gray: hsl(var(--hs--gray), 52%); // #646b79 // gray50
	--c--lightgray: hsl(var(--hs--gray), 80%);//#f5f5f5; // gray30
	--c--whitesmoke: hsl(var(--hs--gray), 96%); // gray10
	

	--c--white: #fff;


	--c--border: hsl(var(--hs--gray), 88%);

	// cbox
	--c--red: hsl(5, 72%, 56%); // #ef4444
	--c--orange: hsl(32, 88%, 52%); // #f97316
	--c--yellow: hsl(48, 88%, 52%); //#f1b808
	--c--green: hsl(156, 80%, 44%); //#10b981
	--c--blue: hsl(200, 80%, 52%); //#0ea5e9
	--c--purple: hsl(255, 72%, 60%); //#8b5cf6
	--c--pink: hsl(330, 76%, 56%); //#ec4899

	// --c--red: hsl(0, 80%, 60%); // #ef4444
	// --c--orange: hsl(30, 80%, 60%); // #f97316
	// --c--yellow: hsl(45, 80%, 60%); //#f1b808
	// --c--green: hsl(155, 60%, 60%); //#10b981
	// --c--blue: hsl(200, 80%, 60%); //#0ea5e9
	// --c--purple: hsl(260, 80%, 60%); //#8b5cf6
	// --c--pink: hsl(330, 80%, 60%); //#ec4899

	--colorMixPercent--bg: 92%;
	--colorMixPercent--link: 12%;
	// --colorMixPercent--bdc: 80%;

	// シアンとかも？
}


//カラー系
[class*="-c:"]{
	color: var(--c) !important;
}
.-c\:main{--c: var(--c--main);}
.-c\:accent{--c: var(--c--accent);}
.-c\:white{--c: var(--c--white);}
.-c\:black{--c: var(--c--black);}
.-c\:gray{--c: var(--c--gray);}
.-c\:lightgray{--c: var(--c--lightgray);}
.-c\:darkgray{--c: var(--c--darkgray);}
// .-c\:current{--c: currentColor;}


[class*="-bgc:"]{
	background-color: var(--bgc) !important;
}
.-bgc\:main{--bgc: var(--c--main);}
.-bgc\:accent{--bgc: var(--c--accent);}
.-bgc\:white{--bgc: var(--c--white);}
.-bgc\:black{--bgc: var(--c--black);}
.-bgc\:gray{--bgc: var(--c--gray);}
.-bgc\:lightgray{--bgc: var(--c--lightgray);}
.-bgc\:darkgray{--bgc: var(--c--darkgray);}
.-bgc\:whitesmoke{--bgc: var(--c--whitesmoke);}

.-bgc\:cc{--bgc: currentColor;}
.-bgc\:t{--bgc: transparent;}


// .-bgc\:keycolor-light{
// 	--c--link: color-mix(in srgb, var(--keycolor), var(--c--text) var(--colorMixPercent--link));
// 	--bgc: color-mix(in srgb, var(--keycolor), transparent var(--colorMixPercent--bg));
// }


// Darkモード
// #wrapper{
// 	--colorMixPercent--bg: 90%;
// 	--mixPercent--bdc: 40%;
// 	--c--bg: #000; // 背景色メイン
// 	--c--text: #fff; // メインカラー
// 	background-color: var(--c--bg);
// 	color: var(--c--text);
// }

// #wrapper{
// 	--c--bg: hsl(273, 30%, 95%);
// 	--c--text: rgb(69, 66, 87);
// 	background-color: var(--c--bg);
// 	color: var(--c--text);
// }

// cbox color-mix
// @supports (color: color-mix(in srgb, #000, #fff)) {
// 	:where([class*="-keycolor:"])[data-variant="cbox"] {
// 		--bdc: color-mix(in srgb, var(--keycolor), transparent var(--mixPercent--bdc));
// 		--c--link: color-mix(in srgb, var(--keycolor), var(--c--text) 20%);
	
// 		// color: color-mix(in srgb, var(--keycolor), var(--c--text) 90%);
// 		background-color: color-mix(in srgb, var(--keycolor), transparent var(--colorMixPercent--bg));
// 		border: solid 1px var(--bdc);
// 	}
// }

// --keycolor : 1つのカラーをもとにスタイリングしたいときに活用する。 cbox,outline,fillなどで使っている
// .-keycolor\:{&}
.-keycolor\:current{
	--keycolor: currentColor;
}
.-keycolor\:main{
	--keycolor: var(--c--main);
}
.-keycolor\:accent{
	--keycolor: var(--c--accent);
}
.-keycolor\:gray{
	--keycolor: var(--c--gray);
}
.-keycolor\:red{
	--keycolor: var(--c--red);
}
.-keycolor\:orange{
	--keycolor: var(--c--orange);
}
.-keycolor\:yellow{
	--keycolor: var(--c--yellow);
}
.-keycolor\:green{
	--keycolor: var(--c--green);
}
.-keycolor\:blue{
	--keycolor: var(--c--blue);
}
.-keycolor\:purple{
	--keycolor: var(--c--purple);
}
.-keycolor\:pink{
	--keycolor: var(--c--pink);
}


// [data-variant="fill"]{
// 	--c--link: currentColor;
// 	color: var(--c--bg); // #fff
// 	background-color: var(--bgc);
// }

// [data-variant="outline"]{
// 	border: solid 1px var(--bdc);
// 	--icon-c: var(--bdc); // Alert,Notice用

// 	 // reverse用
// 	&.-hov\:reverse{
// 		--bgc:#fff;
// 	}
// }
