@use '../query' as query;

@layer lism-init {
	// l--flex, l--stack, l--reel, ...
	// .is--flex,
	.l--flex {
		--fxw: nowrap;
		--fxd: row;
		--gap: 0;
	}
}

.l--flex,
.is--flex {
	display: flex;
	flex-wrap: var(--fxw);
	flex-direction: var(--fxd);
	gap: var(--gap);
}
