@use '../query' as query;

@layer lism-layout {
	// .l--flex {
	// 	display: flex;
	// }
	.l--flex {
		--fxw: nowrap;
		--fxd: row;
		--gap: 0;

		display: flex;
		flex-wrap: var(--fxw);
		flex-direction: var(--fxd);
		gap: var(--gap);
	}
}

// flex={wrap: direction:}
