/*
	flowGap はクエリ調整不可。クエリ調整必要な場合はStack使ってもらえばいい。
	end:0 がどうせ :first-child に必要なので、 mbs も > * + * 使わず上書き形式で。

	memo: :first-child , :last-child の詳細度は 0-1-0
*/

.is--flow > * {
	margin-block-start: var(--flowGap--m); // --base?
}
.is--flow\:s > * {
	margin-block-start: var(--flowGap--s);
}
.is--flow\:l > * {
	margin-block-start: var(--flowGap--l);
}
// カスタム値 Note: ネストに注意が必要
.is--flow\: > * {
	margin-block-start: var(--flowGap);
}

// :first-child への上書きのほうが優先度高くなるように。
:is(.is--flow, [class*='is--flow:']) {
	// resetCSSがlismであれば、これは不要
	> * {
		margin-block-end: 0;
	}

	// :empty どうする？
	> :where(:first-child) {
		margin-block-start: 0;
	}
}

// .is--skipFlow の次の要素は mbs を 0 にする。
// hidden要素 や absoluteな要素が先頭に入り込んでいる時などに活用できる。
.is--skipFlow + * {
	margin-block-start: 0;
}
