@use '../query' as query;

@layer lism-init {
	.l--grid {
		// 初期値セット
		--gta--val: none;
		--gtc--val: none;
		--gtr--val: none;
		// --gap: 0;
	}
}
.l--grid {
	display: grid !important; // ユーティリティ的な側面もあり、組み合わせ方でレイアウトを変えることもあるので !important 付与
	grid-template-areas: var(--gta--val);
	grid-template-columns: var(--gtc--val);
	grid-template-rows: var(--gtr--val);
	// gap: var(--gap);
}
// grid={areas: columns: rows: gap:}
