@use '../query' as query;

@layer lism-layout {
	.l--grid {
		// 初期値セット
		--gta: none;
		--gtc: none;
		--gtr: none;
		--gap: 0;

		display: grid;
		grid-template-areas: var(--gta);
		grid-template-columns: var(--gtc);
		grid-template-rows: var(--gtr);
		gap: var(--gap);
	}
}
