// .-hov\: ユーティリティ

[class*='-hov\:'] {
	transition: filter, opacity, box-shadow, translate, scale, border-color, color, background-color;
	transition-duration: var(--hov--duration);

	// mediaへのホバー効果
	.l--layer__media {
		transition: filter, scale;
		transition-duration: var(--hov--duration);
	}
}

// 値指定
// .-hov\:duration\:{}
.-hov\:c\::hover {
	color: var(--hov--c) !important;
}
.-hov\:bgc\::hover {
	background-color: var(--hov--bgc) !important;
}
.-hov\:bdc\::hover {
	border-color: var(--hov--bdc) !important;
}
.-hov\:shadow\::hover {
	box-shadow: var(--hov--shadow) !important;
}
.-hov\:dark:hover {
	filter: brightness(0.8) contrast(1.2); //grayscale(5%);
}
// .-hov\:bright:hover{
// 	filter: brightness(1.2) contrast(1.2); //grayscale(5%);
// }

.-hov\:opacity:hover {
	opacity: 0.75;
}
.-hov\:shadow:hover {
	// ユーティリティに負けないように important
	box-shadow: var(--shadow--hov) !important;
}
.-hov\:up:hover {
	translate: 0 -3px;
}
.-hov\:scale:hover {
	scale: 1.05;
}

.-hov\:bgc\:lightgray:hover {
	background-color: var(--c--lightgray) !important;
}

.-hov\:reverse {
	--rev--bgc: var(--c);
	--rev--c: var(--bgc);
}
.-hov\:reverse:hover {
	background-color: var(--rev--bgc) !important;
	color: var(--rev--c) !important;
}

// hov:media:
// .-hov\:mediaZoom:hover .l--layer__media{
// 	transform: none;
// 	filter: none;
// }
.-hov\:mediaZoom:hover .l--layer--media {
	--mediaScale: 1.1;
}
// ※ filter どうしの同時使用はできないことに注意
.-hov\:mediaDark:hover .l--layer--media {
	--mediafilter: brightness(0.9);
}
.-hov\:mediaBright:hover .l--layer--media {
	--mediafilter: brightness(1.1);
}
.-hov\:mediaBlur:hover .l--layer--media {
	--mediafilter: blur(4px);
}

// ; transform: trf
// hov: {c, bgc, bdc, radius, shadow, transform?, filter?}
