@use '../query' as query;

// base値がinlineスタイルなので、importantで上書きする必要がある。→ だったら変数上書きではなく普通にプロパティ名　sで指定すべき...？
@include query.cq('under-md') {
	// is--reel@sp
	.is--reel\@under-md {
		--item--w: 16em;
		overflow-x: auto;
		// overflow-y: hidden;

		display: grid !important;
		grid-auto-flow: column;
		grid-auto-columns: var(--item--w);
		grid-template-columns: unset !important;
		grid-template-rows: unset !important;
	}
}

@include query.cq('sm') {
	.is--reel[data-unreel='sm'] {
		// --lism: 20rem;

		display: grid;
		overflow-x: revert;
		grid-template-columns: repeat(auto-fit, minmax(min(var(--item--w), 100%), 1fr));

		// --columns: 3;
		// grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
	}
}
@include query.cq('md') {
	.is--reel[data-unreel='md'] {
		// --lism: 20rem;

		display: grid;
		overflow-x: revert;
		grid-template-columns: repeat(auto-fit, minmax(min(var(--item--w), 100%), 1fr));

		// --columns: 3;
		// grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
	}
}
// scrollable
