@charset "UTF-8";


:root {
	/*
	 * コンテンツサイズ: ユーザー側で定義が必要
	 *     コンテンツサイズは960 ~ 1120 くらいがよさそう.
	 *     1080 にしてるのは、 1920 * 1080画像がきれいに配置できるため？
	 */
	// コンテンツサイズは960 ~ 1120 くらいがよさそう
	--ls--contentSize: 1120px; // = --wp--style--global--content-size.
	--ls--contentSize--wide: 1440px; // = --wp--style--global--wide-size. alignwide で使う.
	--ls--contentSize--slim: 45rem; // slim幅1カラムテンプレートで使う. fz:16px時 = 720px

	// ボーダーカラー
	// --ls--bdc--table: #dcdcdc;

	// hoverユーティリティ用
	--hov--duration: .3s;

}
