.b--section {
	--mih: auto;
	position: relative;
	min-height: var(--mih);

	// display: flex;
	// --fxd: column;
	gap: 0;

	// --jc: center;
	// flex-direction: column;
	// justify-content: center;

	.l--divider{
		z-index: 1;
	}

	// ここは stack
	// .b--section__body{
	// 	// margin: auto 0;
	// 	flex-grow: 1; // height:100% が効くように
	// 	height: 100%;
	// 	position: relative;
	// 	z-index: 1;
	// }

	.b--section__inner{
		// display: grid;
		--gta: "header" "body" "footer";
		--gtc: 100%;
		--gtr: auto 1fr auto;
		flex-grow: 1;
		height: 100%;
	}
	// .b--section__header{
	// 	// --area: header;
	// }
	.b--section__body{
		// --area: body;
		--pt: var(--space--50);
		--pb: var(--space--50);
		--a-self: center;
		height: auto; // 100% にしない
	}
	// .b--section__footer{
	// 	// --area: footer;
	// }

	.b--section__content {
		// flex-grow: 1; // height:100% が効くように
		// height: 100%;
		position: relative;
		z-index: 1;
	}

	// data-height
	// &[data-height="auto"] {
	// 	--mih: 0;
	// }

	// .b--section__bg {
	// 	background-color: #f7f7f7;
	// }

	// stack と一緒に使う ?
	// .b--section__header,.b--section__footer {
	// 	z-index: 1;
	// }

	> :not([class*="l--layer"]) {
		z-index: 1;
	}


	// .b--section__content {
	// 	margin-top: auto;
	// 	margin-bottom: auto;
	// }

	// .b--section__head{}
	// .b--section__foot{}


	&[data-fullscreen="1"] {
		--mih: 100vh;
		// min-height: 100vh;
	}

}
