
:root{
	/*
	 * カラー: ユーザー側で定義が必要
	 *    base:main:accent = 70:25:5の法則 ( https://chot.design/concept-of-design/02d49c79f19a/ )
	 *    + α
	 */
	--c--bg: #fdfdfd; // 背景色メイン
	--c--main: #2F4858; // メインカラー
	--c--accent: #be3455; // mainと逆の目立つ色

	// 確定
	--c--link: #0c61e4; // リンク色
	--c--text: #111; // テキスト色
	--c--headline: #00473e; // 見出しカラー
	--c--border: #ccc;
	// --bdc--table: #dcdcdc; 
	
	// どうする
	--c--sub: #dde7f0; // main と相性のいい、背景色に使うような薄い色？

	--c--black: #000;
	--c--white: #fff;
	--c--lightgray: #f5f5f5;
	// --c--darkgray: ;

	// cbox
	--c--gray: #626771; // #646b79
	--c--red: #ef4444;
	--c--orange: #f97316;
	--c--yellow: #f1b808;
	--c--green: #10b981;
	--c--blue: #0ea5e9;
	--c--purple: #8b5cf6;
	--c--pink: #ec4899;

	--mixPercent--bg: 95%;
	--mixPercent--bdc: 40%;

	// シアンとかも？
}


//カラー系
[class*="-c:"]{
	color: var(--c) !important;
}

.-c\:main{
	--c: var(--c--main);
}
.-c\:accent{
	--c: var(--c--accent);
}

// .-c\:bg{
// 	--c: var(--c--bg);
// }
// .-c\:text{
// 	--c:  var(--c--text);
// }
// .-c\:link{
// 	--c:  var(--c--link);
// }


// .-c\:gray{
// 	--c: var(--c--gray);
// }
.-c\:lightgray{
	--c: var(--c--lightgray);
}
.-c\:white{
	--c: #fff;
}
.-c\:black{
	--c: #000;
}


[class*="-bgc:"]{
	background-color: var(--bgc) !important;
}


.-bgc\:main{
	--bgc: var(--c--main);
}
.-bgc\:accent{
	--bgc: var(--c--accent);
}
// .-bgc\:bg{
// 	--bgc: var(--c--bg);
// }
// .-bgc\:text{
// 	--bgc:  var(--c--text);
// }
// .-bgc\:link{
// 	--bgc:  var(--c--link);
// }

// .-bgc\:gray{
// 	--bgc: var(--c--gray);
// }
.-bgc\:lightgray{
	--bgc: var(--c--lightgray);
}
.-bgc\:white{
	--bgc:#fff;
}
.-bgc\:black{
	--bgc:#000;
}


// #wrapper{
// 	--mixPercent--bg: 90%;
// 	--mixPercent--bdc: 40%;
// 	--c--bg: #000; // 背景色メイン
// 	--c--text: #fff; // メインカラー
// 	background-color: var(--c--bg);
// 	color: var(--c--text);
// }


// keycolor
:where([data-variant="cbox"]){
	border: solid 1px var(--keycolor);
	// --icon-c: var(--keycolor);
}

// color-mixのサポートチェック
@supports (color: color-mix(in srgb, #000, #fff)) {
	:where([class*="-keycolor:"][data-variant="cbox"]) {
		--bdc: color-mix(in srgb, var(--keycolor), var(--c--bg) var(--mixPercent--bdc));
		--c--link: color-mix(in srgb, var(--keycolor), var(--c--text) 20%);
	
		// color: color-mix(in srgb, var(--keycolor), var(--c--text) 90%);
		background-color: color-mix(in srgb, var(--keycolor), var(--c--bg) var(--mixPercent--bg));
		border: solid 1px var(--bdc);
	}
}

// -cbox: --cを使う?

// .is-style-outline
// [data-cbox="outline"]{
// }

// --keycolor : 1つのカラーをもとにスタイリングしたいときに活用する。 cbox,outline,fillなどで使っている
// .-keycolor\:{&}
.-keycolor\:main{
	--keycolor: var(--c--main);
}
.-keycolor\:accent{
	--keycolor: var(--c--accent);
}
.-keycolor\:gray{
	--keycolor: var(--c--gray);
}
.-keycolor\:red{
	--keycolor: var(--c--red);
}
.-keycolor\:orange{
	--keycolor: var(--c--orange);
}
.-keycolor\:yellow{
	--keycolor: var(--c--yellow);
}
.-keycolor\:green{
	--keycolor: var(--c--green);
}
.-keycolor\:blue{
	--keycolor: var(--c--blue);
}
.-keycolor\:purple{
	--keycolor: var(--c--purple);
}
.-keycolor\:pink{
	--keycolor: var(--c--pink);
}


// [data-variant="fill"]{
// 	--c--link: currentColor;
// 	color: var(--c--bg); // #fff
// 	background-color: var(--bgc);
// }

// [data-variant="outline"]{
// 	border: solid 1px var(--bdc);
// 	--icon-c: var(--bdc); // Alert,Notice用

// 	 // reverse用
// 	&.-hov\:reverse{
// 		--bgc:#fff;
// 	}
// }
