
:root{
	/*
	 * カラー: ユーザー側で定義が必要
	 *    base:main:accent = 70:25:5の法則 ( https://chot.design/concept-of-design/02d49c79f19a/ )
	 *    + α
	 */
	--c--bg: #fdfdfd; // 背景色メイン
	--c--main: #2F4858; // メインカラー
	--c--accent: #be3455; // mainと逆の目立つ色

	// 確定
	--c--link: #0c61e4; // リンク色
	--c--text: #111; // テキスト色
	--c--headline: #00473e; // 見出しカラー
	--c--border: #ccc;
	// --bdc--table: #dcdcdc; 
	
	// どうする
	--c--sub: #dde7f0; // main と相性のいい、背景色に使うような薄い色？

	--c--black: #000;
	--c--white: #fff;
	--c--lightgray: #f5f5f5;
	// --c--darkgray: ;

	// cbox
	--c--gray: #646b79;
	--c--red: #ef4444;
	--c--orange: #f97316;
	--c--yellow: #f1b808;
	--c--green: #10b981;
	--c--blue: #0ea5e9;
	--c--purple: #8b5cf6;
	--c--pink: #ec4899;
}


//カラー系
[class*="-c:"]{
	color: var(--c) !important;
}
.-c\:base{
	--c: var(--c--bg);
}
.-c\:main{
	--c: var(--c--main);
}
.-c\:accent{
	--c: var(--c--accent);
}
.-c\:link{
	--c:  var(--c--link);
}
.-c\:text{
	--c:  var(--c--text);
}
.-c\:gray{
	--c: var(--c--gray);
}
.-c\:lightgray{
	--c: var(--c--lightgray);
}
.-c\:white{
	--c: #fff;
}
.-c\:black{
	--c: #000;
}


[class*="-bgc:"]{
	background-color: var(--bgc) !important;
}

.-bgc\:base{
	--bgc: var(--c--bg);
}
.-bgc\:main{
	--bgc: var(--c--main);
}
.-bgc\:accent{
	--bgc: var(--c--accent);
}
.-bgc\:text{
	--bgc:  var(--c--text);
}
.-bgc\:link{
	--bgc:  var(--c--link);
}
.-bgc\:lightgray{
	--bgc: var(--c--lightgray);
}
.-bgc\:gray{
	--bgc: var(--c--gray);
}
.-bgc\:white{
	--bgc:#fff;
}
.-bgc\:black{
	--bgc:#000;
}


// #wrapper{
// 	--c--bg: #000; // 背景色メイン
// 	--c--text: #fff; // メインカラー
// 	background-color: var(--c--bg);
// 	color: var(--c--text);
// }


[class*="-cbox:"] {
	--bdc: color-mix(in srgb-linear, var(--cbox), var(--c--bg) 40%);
	--c--link: color-mix(in srgb-linear, var(--cbox), var(--c--text) 20%);

	color: color-mix(in srgb-linear, var(--cbox), var(--c--text) 92%);
	background-color: color-mix(in srgb-linear, var(--cbox), var(--c--bg) 96%);
	border: solid 1px var(--bdc);

	// color: var(--c);
	// background-color: var(--bgc);
	
}

// -cbox: --cを使う?


// [class*="-cbox:"]{
// 	color: var(--c);
// 	background-color: var(--bgc);
// 	border: solid 1px var(--bdc);
// }

// [data-cbox="outline"]{
// }

.-cbox\:main{
	--cbox: var(--c--main);
}
.-cbox\:gray{
	--cbox: var(--c--gray);
}
.-cbox\:red{
	--cbox: var(--c--red);
}
.-cbox\:orange{
	--cbox: var(--c--orange);
}
.-cbox\:yellow{
	--cbox: var(--c--yellow);
}
.-cbox\:green{
	--cbox: var(--c--green);
}
.-cbox\:blue{
	--cbox: var(--c--blue);
}
.-cbox\:purple{
	--cbox: var(--c--purple);
}
.-cbox\:pink{
	--cbox: var(--c--pink);
}


// [class*="-fill:"]{
// 	--c: #fff; // reverse用に定義
// 	// --bdc: var(--bgc);
// 	--c--icon: currentColor;
// 	--c--link: currentColor;
// 	color: var(--c);
// 	background-color: var(--bgc);
// 	border: solid 1px var(--bgc);
// }

// .-fill\:main{
// 	--bgc: var(--c--main);
// }
// .-fill\:red{
// 	--bgc: var(--red-400);
// }
// .-fill\:orange{
// 	--bgc: var(--orange-400);
// }
// .-fill\:yellow{
// 	--bgc: var(--yellow-400);
// }
// .-fill\:green{
// 	--bgc: var(--green-400);
// }
// .-fill\:blue{
// 	--bgc: var(--blue-400);
// }
// .-fill\:purple{
// 	--bgc: var(--purple-400);
// }
// .-fill\:pink{
// 	--bgc: var(--pink-400);
// }
// .-fill\:gray{
// 	--bgc: var(--gray-400);
// }

// ※ outlineプロパティに対するユーティリティを作る場合は .-ol:
// outline? olbox? linebox?
// [class*="-outline:"]{
// 	--c: var(--bdc); // reverse用に定義
// 	--c--icon: var(--bdc);
// 	color: var(--c);
// 	border: solid 1px var(--bdc);

// 	&.-hov\:reverse:hover{
// 		--bgc:#fff;
// 	}

// 	&.b--alert{
// 		color: inherit;
// 	}
// }

// .-outline\:red{
// 	--bdc: var(--red-400);
// }
// .-outline\:orange{
// 	--bdc: var(--orange-400);
// }
// .-outline\:yellow{
// 	--bdc: var(--yellow-400);
// }
// .-outline\:green{
// 	--bdc: var(--green-400);
// }
// .-outline\:blue{
// 	--bdc: var(--blue-400);
// }
// .-outline\:purple{
// 	--bdc: var(--purple-400);
// }
// .-outline\:pink{
// 	--bdc: var(--pink-400);
// }
// .-outline\:gray{
// 	--bdc: var(--gray-400);
// }
