@use "../query" as query;

// l--flex, l--stack, l--reel, ...
:where(.is--flex){
	--fxw: nowrap;
	--fxd: row;
	--gap: 0;
	gap: var(--gap);
}
.is--flex{
	display: flex;
	flex-wrap: var(--fxw);
	flex-direction: var(--fxd);
}

// flex-wrap
.-fxw\:w{--fxw: wrap;}
.-fxw\:nw{--fxw: nowrap;}

// flex-direction
.-fxd\:c{--fxd: column;}
.-fxd\:cr{--fxd: column-reverse;}
.-fxd\:r{--fxd: row;}
.-fxd\:rr{--fxd: row-reverse;}


// --prop の上書きには importantが必要
@include query.cq('sm'){
	.-fxw\@sm\:{--fxw: var(--fxw--sm) !important;}
	.-fxd\@sm\:{--fxd: var(--fxd--sm) !important;}
}
@include query.cq('md'){
	.-fxw\@md\:{--fxw: var(--fxw--md) !important;}
	.-fxd\@md\:{--fxd: var(--fxd--md) !important;}
}
@include query.cq('lg'){
	.-fxw\@lg\:{--fxw: var(--fxw--lg) !important;}
	.-fxd\@lg\:{--fxd: var(--fxd--lg) !important;}
}
@include query.cq('xl'){
	.-fxw\@xl\:{--fxw: var(--fxw--xl) !important;}
	.-fxd\@xl\:{--fxd: var(--fxd--xl) !important;}
}


