@use "../query" as query;

:where( .is--flex, .is--grid ) {
	--gap--default: 0; // ここで初期値与えるべきかは要検討。rootで定義すべきか...？
	--gap: var(--gap--default); // ここで初期値与えるべきかは要検討
	gap: var(--gap);

	// 予期せぬカラム落ちを防ぐ→ユーティリティで必要なとこだけに指定してもらう
	// > *
	// > :is(div, main, aside, section, article, p){
	// 	overflow-wrap: anywhere;
	// }
}

// align-items
// .-ai\:{align-items: var(--ai) !important;}
.-ai\:c{align-items: center !important;}
.-ai\:s{align-items: stretch !important;}

// justify-items
// .-ji\:{justify-items: var(--ji) !important;}
.-ji\:c{justify-items: center !important;}
.-ji\:s{justify-items: stretch !important;}

// justify-content
// .-jc\:{justify-content: var(--jc) !important;}
.-jc\:c{justify-content: center !important;}
.-jc\:sb{justify-content: space-between !important;}

// align-content
// .-ac\:{align-content: var(--ac) !important;}
.-ac\:c{align-content: center !important;}
.-ac\:sb{align-content: space-between !important;}
