@use "../query" as query;

:where( .is--flex, .is--grid ) {
	--gap--default: var(--space--40); // ここで初期値与えるべきかは要検討。rootで定義すべきか...？
	--gap: var(--gap--default); // ここで初期値与えるべきかは要検討
	gap: var(--gap);
}

.is--flex,
.is--grid {

	// --ai: normal;
	// --ac: normal;
	// --jc: normal;
	// --ji: legacy;

	// align-items: var( --ai );
	// align-content: var( --ac );
	// justify-content: var( --jc );
	// justify-items: var(--ji);

	// 予期せぬカラム落ちを防ぐ→ユーティリティで必要なとこだけに指定してもらう
	// > *
	// > :is(div, main, aside, section, article, p){
	// 	overflow-wrap: anywhere;
	// }
}

// グリッドには使用していたほうがよさそう。
.is--grid > .is--item {
	overflow-wrap: anywhere;
}


// l--flex, l--stack, l--reel, ...
:where(.is--flex){
	--fxw: nowrap;
	--fxd: row;

	display: flex;
	flex-wrap: var(--fxw);
	flex-direction: var(--fxd);
}


// memo: Tree Shakingを考えて、クエリ関連はバラすべき
:where(.is--grid){
	--gta: none;
	--gtc: none;
	--gtr: none;

	display: grid;
	grid-template-areas: var(--gta);
	grid-template-columns: var(--gtc);
	grid-template-rows: var(--gtr);
}

@include query.cq('sm'){
	.-fxd\@sm\:{
		--fxd: var(--fxd--sm) !important;
	}
	.-gta\@sm\:{
		--gta: var(--gta--sm) !important;
	}
	.-gtc\@sm\:{
		--gtc: var(--gtc--sm) !important;
	}
	.-gtr\@sm\:{
		--gtr: var(--gtr--sm) !important;
	}
}
@include query.cq('md'){
	.-fxd\@md\:{
		--fxd: var(--fxd--md) !important;
	}
	.-gta\@md\:{
		--gta: var(--gta--md) !important;
	}
	.-gtc\@md\:{
		--gtc: var(--gtc--md) !important;
	}
	.-gtr\@md\:{
		--gtr: var(--gtr--md) !important;
	}
}
@include query.cq('lg'){
	.-fxd\@lg\:{
		--fxd: var(--fxd--lg) !important;
	}
	.-gta\@lg\:{
		--gta: var(--gta--lg) !important;
	}
	.-gtc\@lg\:{
		--gtc: var(--gtc--lg) !important;
	}
	.-gtr\@lg\:{
		--gtr: var(--gtr--lg) !important;
	}
}
@include query.cq('xl'){
	.-fxd\@xl\:{
		--fxd: var(--fxd--xl) !important;
	}
	.-gta\@xl\:{
		--gta: var(--gta--xl) !important;
	}
	.-gtc\@xl\:{
		--gtc: var(--gtc--xl) !important;
	}
	.-gtr\@xl\:{
		--gtr: var(--gtr--xl) !important;
	}
}


// --------------------
// flex, grid系
// --------------------
.-fxw\:w{
	--fxw: wrap !important;
}
.-fxw\:n{
	--fxw: nowrap !important;
}

// align-items
.-ai\:{
	align-items: var(--ai) !important;
}
.-ai\:c{
	align-items: center !important;
}
.-ai\:s{
	align-items: stretch !important;
}

// .-ai\:fe{
// 	--ai:flex-end !important;
// }
// .-ai\:fs{
// 	--ai:flex-start !important;
// }


// justify-items
.-ji\:{
	justify-items: var(--ji) !important;
}
.-ji\:c{
	justify-items: center !important;
}
.-ji\:s{
	justify-items: stretch !important;
}

// justify-content
.-jc\:{
	justify-content: var(--jc) !important;
}
.-jc\:c{
	justify-content: center !important;
}
.-jc\:sb{
	justify-content: space-between !important;
}

// align-content
.-ac\:{
	align-content: var(--ac) !important;
}
.-ac\:c{
	align-content: center !important;
}
.-ac\:sb{
	align-content: space-between !important;
}
