/*
 * タイポグラフィ
 */
:root{
	--root--ff: sans-serif;
	--root--fz: clamp(14px, 4vw, 1rem); // 1rem: ブラウザ標準はほぼ16px
	--root--lh: 1.75;

	// font-size 変数
	--fz--m: 1em;
	--fz--r: 1rem;
	// 倍音列(分子8) での計算値
	--fz--5xl: 4em; //calc(1em * 8 / 2);
	--fz--4xl: 2.667em; // calc(1em * 8 / 3);
	--fz--3xl: 2em; //calc(1em * 8 / 4);
	--fz--2xl: 1.6em; //calc(1em * 8 / 5);
	--fz--xl: 1.333em; //calc(1em * 8 / 6);
	--fz--l: 1.143em; //calc(1em * 8 / 7);
	--fz--s: 0.889em; // calc(1em * 8 / 9);
	--fz--xs: 0.80em; //calc(1em * 8 / 10);

	--ls--ff--emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "Android Emoji", "EmojiSymbols";

	// line-height 変数
	// --ls--lh--contents: 1.8;
	// --ls--lh--heading: 1.8;

	// chakra
	// normal: "normal",
    // none: 1,
    // shorter: 1.25,
    // short: 1.375,
    // base: 1.5,
    // tall: 1.625,
    // taller: "2",

}

// ---------------------------------------------------------------------

.-lh\:{
	line-height: var(--lh);
}
// [class*="-lh:"]{
// 	line-height: var(--lh);
// }

[class*="-fz:"]{
	font-size: var(--fz);
	line-height: var(--lh, inherit);
}


h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	font-size: var(--fz);
	line-height: var(--lh);
	--ls--flowGap: var(--ls--flowGap--heading); // Flowレイアウト直下の見出しの上部余白は少しだけ広くする. CSS変数を上書きしてるだけなので、 .is--flow 直下にのみ影響する
}

h1 {--fz: var(--fz--3xl);}
h2 {--fz: var(--fz--2xl);}
h3 {--fz: var(--fz--xl);}
h4 {--fz: var(--fz--l);}
h5 {--fz: var(--fz--m);}
h6 {--fz: var(--fz--s);}

.-fz\:r {font-size: 1rem;} // 自動lh計算を考慮し、--fz 使わない

// .-fz\:2xs {--fz: var(--fz--2xs);} 
.-fz\:xs {--fz: var(--fz--xs);}
.-fz\:s {--fz: var(--fz--s);}
.-fz\:m {--fz: var(--fz--m);}
.-fz\:l {--fz: var(--fz--l);}
.-fz\:xl {--fz: var(--fz--xl);}
.-fz\:2xl {--fz: var(--fz--2xl);}
.-fz\:3xl {--fz: var(--fz--3xl);}
.-fz\:4xl {--fz: var(--fz--4xl);}
.-fz\:5xl {--fz: var(--fz--5xl);}
