:root{
	// 各fzサイズ用のline-height
	--ls--6L--lh: 1.2;
	--ls--5L--lh: 1.4;
	--ls--4L--lh: 1.4;
	--ls--3L--lh: 1.5;
	--ls--2L--lh: 1.6;
	--ls--L--lh: 1.6;

	// 1,
	// 1.25, 5XL
	// 1.4 4XL
	// 1.5, 2XL, 3XL,
	// 1.6, L XL
	// 1.75 base
	// 2,
	// 2.5

	// 1, xs    sm   md,  lg  xl
	// 1, 1.25, 1.5. 1.75, 2,  2.5
}


h1 {
	font-size: var(--fz--3xl);
	line-height: var(--ls--4L--lh);
}

h2 {
	font-size: var(--fz--2xl);
	line-height: var(--ls--3L--lh);
}

h3 {
	font-size: var(--fz--xl);
	line-height: var(--ls--2L--lh);
}

h4 {
	font-size: var(--fz--l);
	line-height: var(--ls--L--lh);
}

h5 {
	font-size: var(--fz--m);
}

h6 {
	font-size: var(--fz--s);
}


[class*="-lh:"]{
	line-height: var(--lh);
}
[class*="-fz:"]{
	font-size: var(--fz);
}
.-fz\:xs {
	--fz: var(--fz--xs);
}

.-fz\:s {
	--fz: var(--fz--s);
}

.-fz\:m {
	--fz: var(--fz--m);
}

.-fz\:l {
	--fz: var(--fz--l);
	line-height: var(--ls--L--lh);
}

.-fz\:xl {
	--fz: var(--fz--xl);
	line-height: var(--ls--2L--lh);
}

.-fz\:2xl {
	--fz: var(--fz--2xl);
	line-height: var(--ls--3L--lh);
}

.-fz\:3xl {
	--fz: var(--fz--3xl);
	line-height: var(--ls--4L--lh);
}

.-fz\:4xl {
	--fz: var(--fz--4xl);
	line-height: var(--ls--5L--lh);
}

.-fz\:5xl {
	--fz: var(--fz--5xl);
	line-height: var(--ls--6L--lh);
}
