@layer lism-module {
	// Note は --keycolor が常に渡ってくる
	.b--note {
		// --keycolor: currentColor; //var(--gray);
		--p: var(--space--40);
		--gap: var(--space--30);
		--head--c: var(--keycolor);
		--bdc: var(--keycolor);
		--bdrs: var(--radius--1);
	}
}

:where(.b--note) {
	position: relative;
	padding: var(--p);
	gap: var(--gap);
	border-radius: var(--bdrs);
}
.b--note__icon {
	margin-left: -0.125em;
}
.b--note__head {
	color: var(--head--c);
	align-items: center;
	font-weight: 700;
	gap: 0.325em;
}

// default
:where(.b--note[data-variant='note']) {
	border-inline-start: solid 4px var(--bdc);

	// color-mixのサポートチェック
	@supports (color: color-mix(in srgb, #000, #fff)) {
		--head--c: color-mix(in srgb, var(--keycolor), var(--c--base) var(--cMixPer--text));
		--link--c: var(--head--c);
		background-color: color-mix(in srgb, var(--keycolor), transparent var(--cMixPer--bg));
	}
}

// :where(.b--note[data-variant='outline']) {
// 	border: solid 1px var(--bdc);
// 	gap: var(--gap);
// }

// fill
// [data-variant="fill"]{
// 	overflow: hidden; // border-radiusつけたときに fill部分がはみ出さないように
// }
// [data-variant='fill'] > .b--note__head {
// 	--head--c: var(--c--filled);
// 	--pX: var(--p);
// 	background-color: var(--keycolor);
// }

// outline
// .b--note[data-variant="outline"] {border: solid 1px var(--keycolor);}

// bump
[data-variant='bump'] {
	:where(&.b--note) {
		border: solid 1px var(--bdc);
	}
	:where(& > .b--note__head) {
		background-color: var(--bgc--base);
		margin-inline: var(--space--30);
		padding-inline: 0.5em;
		// border-radius: 4px;
	}
}
