// Note は は .is--colorbox とセットで使う
.c--note {
	--keycolor: var(--gray);
	--bdc: var(--keycolor); // .is--colorbox を上書き
	padding: var(--p--box);
	border-inline-start: solid 4px var(--bdc);
	// background-color: var(--bgc);
}

.c--note__icon {
	margin-left: -0.125em;
	font-size: var(--fz--xl); //1.4rem;
	// color: var(--keycolor, currentColor);
}

.c--note__head {
	color: var(--cbox-c-2, currentColor);
	gap: var(--em--5);
	margin-block-end: var(--s--20);
}
