// @import "../../../scss/mixin/media";

.l--tab {
	--arkb-tab-width: unset;
	--arkb-tab-min-width: unset;
	--arkb-tab-list-wrap: nowrap;
	position: relative;

	// &[data-has-tab-link] {
	// 	.l--tab__button {
	// 		transition: none;
	// 	}
	// }

}

.l--tab__list {
	position: relative;
	display: flex;
	// flex-wrap: var(--arkb-tab-list-wrap);
	justify-content: center;
	margin: 0;
	padding: 0;
	// list-style: none !important;

	// &[data-justify="left"] {
	// 	justify-content: flex-start;
	// }

	// &[data-justify="right"] {
	// 	justify-content: flex-end;
	// }

	// .arkb-tabList__item {
	// 	flex-basis: var(--arkb-tab-width);
	// 	min-width: var(--arkb-tab-min-width);
	// 	margin: 0; // .c-postContent ul li のmarginを打ち消す
	// 	text-align: center;
	// }
}


.l--tab__button {
	--ls--border-width: 2px;
	position: relative;
	display: block;
	box-sizing: border-box;
	padding: var(--s--30);
	color: inherit;
	font-size: 13px;
	line-height: 1;
	background: none;
	border: none;
	// border-bottom: solid 2px transparent;
	// border-bottom: solid 2px currentColor;
	transition: background-color .25s, color .25s;
	min-width: 10ch;

	&::before{
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: var(--ls--border-width);
		background-color: currentColor;
	}

	&:hover {
		outline: none; //マウス操作ではアウトライン非表示
	}

	&[aria-selected="true"] {
		// border-bottom-color: currentColor;
	}
	&[aria-selected="false"] {
		// border-bottom-color: currentColor;
		opacity: .5;
		--ls--border-width: 1px;
		// border-bottom: solid 1px currentColor;
	}
}


// .arkb-tabBody {
// 	position: relative;
// 	padding: 1.5em;
// }

.l--tab__panel {
	position: relative;
	width: 100%;

	&[aria-hidden="true"] {
		display: none;
	}
}



// @import "../../../scss/mixin/media";

.l--tab[data-keep-height="1"] {
	// 親にgridで子にgrid-rowとgrid-colをそれぞれ1 / -1するともっと簡単かもです？
	// それだけで重なるはず。

	.l--tab__panels {
		display: grid;
	}
	.l--tab__panel {
		grid-row: 1 / -1;
		grid-column: 1 / -1;
		transform: translateY(0);
		transition-property: visibility, opacity, transform;
		transition-duration: .3s;

		&[aria-hidden="true"] {
			display: block;
			visibility: hidden;
			opacity: 0;
			transform: translateY(8px);
			transition-duration: 0s;
		}
	}
}
