:where(.e--badge) {
	--p: var(--space--5) var(--space--10);
	--c: #fff;
	--bgc: var(--keycolor);
	--bdc: transparent;
	--gap: 0.2em; // em 単位で指定したいので --space--5 は使わない
	--bdrs: var(--radius--1);
}

.e--badge {
	line-height: 1.5;
	color: var(--c);
	background-color: var(--bgc);
	border: solid 1px var(--bdc); // サイズ揃えるため,常につける
}

// fill=default
// .e--badge[data-variant="fill"]{}

.e--badge[data-variant='outline'] {
	--bdc: var(--keycolor);
	--bgc: transparent;
	--c: var(--keycolor);
}

.e--badge[data-variant='subtle'] {
	@supports (color: color-mix(in srgb, #000, #fff)) {
		--c: color-mix(in srgb, var(--keycolor), var(--c--base) var(--cMixPer--text));
		--bgc: color-mix(in srgb, var(--keycolor), transparent var(--cMixPer--bg));
	}
}
