@layer lism-module {
	.e--badge {
		// --keycolor: ;
		--c: var(--c--filled);
		--bgc: var(--keycolor);
		--bdc: transparent;

		color: var(--c);
		background-color: var(--bgc);
		border: solid 1px var(--bdc); // サイズ揃えるため, 常にborderを指定

		font-size: var(--fz--xs);
		line-height: 1.5;
		gap: 0.2em;
		padding: 0.125em 0.5em;
		border-radius: var(--radius--1);
	}
}

// fill=default
// .e--badge[data-variant="fill"]{}

.e--badge[data-variant='outline'] {
	--bdc: currentColor;
	--bgc: transparent;
	--c: var(--keycolor);
}

.e--badge[data-variant='subtle'] {
	@supports (color: color-mix(in srgb, #000, #fff)) {
		--c: color-mix(in srgb, var(--keycolor), var(--c--base) var(--cMixPer--text));
		--bgc: color-mix(in srgb, var(--keycolor), transparent var(--cMixPer--bg));
	}
}
