
// --------------------
// flexカラム
// --------------------

// memo: [style*="--item--fxb--sm"] などをつかってクエリ上書きしていないので、ネスト時にCSS変数が意図せず親から継承されてしまう可能性がある。
// data-columnsがなくカスタムで値を指定する場合、各クエリ用の変数がセットされるように注意すべき...？
.l--flexColumns {
	--fxb: 50%;
	--fxb--sm: var(--fxb);
	--fxb--xs: var(--fxb--sm);

	// container-type: inline-size;
	display: flex;
	flex-wrap: wrap;

	// 子要素の幅計算
	// 子要素側で計算するとその子要素がBoxでgapを持っているとき等に計算が狂うので、ここで行う。

	--item--fxb: calc(var(--fxb) - var(--clmg));
	@container (max-width: 720px) {
		--item--fxb: calc(var(--fxb--sm) - var(--clmg--sm));
	}
	@container (max-width: 440px) {
		--item--fxb: calc(var(--fxb--xs) - var(--clmg--xs));
	}

	> * {
		flex-basis: var(--item--fxb);
		flex-grow: 1; // gap分の余白が右端にできるのを防ぐ
		// overflow-wrap: anywhere;//予期せぬカラム落ちを防ぐ
	}

}
