@layer lism-init {
	.l--fluidFix {
		--fixW: auto; // 16em
		--fluid--minW: 50%; //16em;
	}
}

// point: fxgの比率を 1:でかい数 にして、fix側を広がらないようにする。
.l--fluidFix {
	display: flex;
	flex-wrap: wrap;
	// gap: 0;

	// flex-grow は 変数指定だと挙動が変だった。
	// side
	&[data-fix='first'] > :first-child,
	&[data-fix='last'] > :last-child {
		flex-basis: var(--fixW);
		flex-grow: 1; // fxg を 0 にすると、折り返されたときに広がらないので 1 にする必要がある
	}

	&[data-fix='first'] > :last-child,
	&[data-fix='last'] > :first-child {
		flex-basis: 0;
		flex-grow: 9999999; // できるだけ fix側を 指定値ピッタリに近づける
		min-width: min(100%, var(--fluid--minW)); // このサイズが折り返しポイント
	}
}
