// --------------------
// 横並び（Cluster）
// --------------------
// .l--box--flex,
// .is--flex,
.l--flex {
	// --ls--gap: var(--ls--space--40);
	// display: flex;
	--fxw: wrap;
	// flex-direction: row;
	// flex-wrap: wrap;

	> * {
		margin: 0;
		// overflow-wrap: anywhere; // 要素が横にはみ出すのを防ぐ → ユーティリティで必要な文章にだけ適用する
	}

	// &[data-fxw="wrap"]{
	// 	--fxw: wrap;
	// }
	&[data-fxw="nowrap"]{
		--fxw: nowrap;
	}
	&[data-fxw="reverse"]{
		--fxw: wrap-reverse;
	}
	

	// 一括横幅指定？
	// --ls--item-miw: 1em;
	// &.has--item-miw > * {
	// 	min-width: min(100%, var(--ls--item-miw));
	// }
}
