
// Notice は --keycolor が常に渡ってくる
:where(.b--notice){
	--p: var(--space--40);
	--gap: var(--space--35);
	--head-c: var(--keycolor);
	--bdc: var(--keycolor);
	// --bdrs: var(--radius--1);
	position: relative;
}
.b--notice__icon{
	margin-left: -0.125em;
}
.b--notice__head{
	color: var(--head-c);
}

// default以外
:where(.b--notice[data-variant]){
	border: solid 1px var(--bdc);
}


// default
.b--notice:not([data-variant]){
	border-inline-start: solid 4px var(--bdc);
	
	// color-mixのサポートチェック
	@supports (color: color-mix(in srgb, #000, #fff)) {
		--c--link: color-mix(in srgb, var(--keycolor), var(--c--text) var(--colorMixPercent--link));
		--head-c: var(--c--link);
		background-color: color-mix(in srgb, var(--keycolor), transparent var(--colorMixPercent--bg));
	}
}


// fill
// [data-variant="fill"]{
// 	overflow: hidden; // border-radiusつけたときに fill部分がはみ出さないように
// }
[data-variant="fill"] > .b--notice__head{
	--head-c:#fff;
	--pX: var(--p);
	background-color: var(--keycolor);
}

// outline
// .b--notice[data-variant="outline"] {border: solid 1px var(--keycolor);}

// obbd
.b--notice[data-variant="cap-onbd"] {

	:where(&) > .b--notice__head{
		background-color: var(--c--bg);
		margin-inline: var(--space--40);
	}

	:where(&) > .b--notice__body{
		margin-top: var(--space--20);
	}
}
