.l--sideFix{
	--lism: 16rem;
}

.l--sideFix{

	&[data-fix~="left"]{
		--gta--horizontal: "fix ...";
		--gtc--horizontal: var(--lismVal) 1fr;
	}

	&[data-fix~="right"]{
		--gta--horizontal: ". fix"; // .-gta@sm: あれば 有効になる
		--gtc--horizontal: 1fr var(--lismVal);
	}

	// 折返しなし
	&[data-fix="left"],
	&[data-fix="right"]{
		--gta: var(--gta--horizontal);
		--gtc: var(--gtc--horizontal);
	}

	// up, down 指定がある時は @xs で縦並び
	&[data-fix~="up"]{
		--gta: "fix" ".";
	}
	&[data-fix~="down"]{
		--gta: "." "fix";
	}

	// 折返しタイミンを切り替えれるようにしている
	&.-gta\@sm\:{
		--gta--sm: var(--gta--horizontal);
		--gtc--sm: var(--gtc--horizontal);
	}
	&.-gta\@md\:{
		--gta--md: var(--gta--horizontal);
		--gtc--md: var(--gtc--horizontal);
	}
}

// fxgの比率を 1:でかい数 にして、fix側を広がらないようにする。
.l--sideFix.is--flex {
	--fxw: wrap;
	--fixW: auto; // 16em
	--fluid--miw: 20em;

	// flex-grow は 変数指定だと挙動が変だった。
	// side
	&[data-fix="first"] > :first-child,
	&[data-fix="last"] > :last-child{
		flex-basis: var(--fixW);
		flex-grow: 1; // fxg を 0 にすると、折り返されたときに広がらないので 1 にする必要がある
	}

	&[data-fix="first"] > :last-child,
	&[data-fix="last"] > :first-child{
		flex-basis: 0;
		flex-grow: 9999999; // できるだけ fix側を 指定値ピッタリに近づける
		min-width: min(100%, var(--fluid--miw));  // このサイズが折り返しポイント
	}
}


