
[class*="-w:"] {
	width: var(--w) !important;
}
[class*="-h:"] {
	height: var(--h) !important;
}

@container (max-width: 720px) {
	[class*="-w\@sm:"] { width: var(--w--sm) !important;}
	[class*="-h\@sm:"] { height: var(--h--sm) !important;}
}

@container (max-width: 440px) {
	[class*="-w\@xs:"] { width: var(--w--xs) !important;}
	[class*="-h\@xs:"] { height: var(--h--xs) !important;}
}
