@use 'utility/size';
@use 'utility/padding';
@use 'utility/margin';
@use 'utility/shadow';
@use 'utility/hover';
@use 'utility/radius';
@use 'utility/color';

:root{

	// remにすることで、rootのフォントサイズが流体であれば それに合わせて角丸も sp でちょっと小さくなる.
	// 小さい値は変動しなくていいので、pxで固定。

	// border
	// キーワードで登録？ ... regular(normal), active, point, emphasis, guide, help, ...
	// --border--01: solid 1px var(--color--border);
	// --border--02: solid 2px var(--color--border);
	// --border--03: dashed 3px var(--color--border);
	// --border--04: dashed 4px var(--color--border);
	
}


// .-ov\:v{
// 	overflow: visible;
// }

.-ov\:h{
	overflow: hidden;
}

// display
.-d\:n{
	display: none;
}
.-d\:b{
	display: block;
}
.-d\:i{
	display: inline;
}
.-d\:if{
	display: inline-flex;
}
.-d\:ib{
	display: inline-block;
}

@container (max-width: 720px) {
	.-d\@sm\:n{
		display: none;
	}
	.-d\@sm\:b{
		display: block;
	}
}

@container (max-width: 440px) {
	.-d\@xs\:n{
		display: none;
	}
	.-d\@xs\:b-{
		display: block;
	}
}

// text-align
.-ta\:c {
	text-align: center;
}
.-ta\:r {
	text-align: right;
}
.-ta\:l {
	text-align: left;
}


// position

// Layer の基点を作るためにrelativeにしたいことがある
.-pos\:r{
	position: relative;
}
.-pos\:f{
	position: fixed;
}
.-pos\:a{
	position: absolute;
}


// .bgc\:


// --------------------
// その他
// --------------------
// clear float
// .-cf::after {
// 	display: block;
// 	clear: both;
// 	width: 0;
// 	height: 0;
// 	content: "";
// }

.-lis\:n{
	list-style: none;
}

// 折返し禁止
// .i--nowrap,
.-whs\:nw {
	white-space: nowrap;
}

// 単語中でも折り返しさせる
// ※ ovw は emmetの正式定義ではない.
.-ovw\:any{
	overflow-wrap: anywhere;
}
