@use 'utility/spacing'; 
@use 'utility/display';


:root{
}


// .-bdc で上書きできるように border 自体も変数管理
.-bd\:{
	border: var(--bd);
}
.-bdw\:{
	border-width: var(--bdw);
}
.-bdc\:{
	border-color: var(--bdc);
}

// .-td\:n{
// 	text-decoration: none;
// }

.-filter\:darker{
	filter: brightness(0.95);
}
.-filter\:lighter{
	filter: brightness(1.05);
}

// .-ov\:v{
// 	overflow: visible;
// }

.-ov\:h{
	overflow: hidden;
}

// text-align
.-ta\:c {
	text-align: center;
}
.-ta\:r {
	text-align: right;
}
.-ta\:l {
	text-align: left;
}

.-fw\:100{
	font-weight: 100;
}
.-fw\:300{
	font-weight: 300;
}
.-fw\:400{
	font-weight: 400;
}
.-fw\:500{
	font-weight: 500;
}
.-fw\:700{
	font-weight: 700;
}
.-fw\:900{
	font-weight: 900;
}

// position

// Layer の基点を作るためにrelativeにしたいことがある
.-pos\:r{
	position: relative;
}
.-pos\:f{
	position: fixed;
}
.-pos\:a{
	position: absolute;
}


// .bgc\:


// --------------------
// その他
// --------------------
// clear float
// .-cf::after {
// 	display: block;
// 	clear: both;
// 	width: 0;
// 	height: 0;
// 	content: "";
// }

.-lis\:n{
	list-style: none;
}

// 折返し禁止
// .i--nowrap,
.-whs\:nw {
	white-space: nowrap;
}

// 単語中でも折り返しさせる
// ※ ovw は emmetの正式定義ではない.
.-ovw\:any{
	overflow-wrap: anywhere;
}
