@use 'utility/size';
@use 'utility/padding';
@use 'utility/margin';
@use 'utility/shadow';
@use 'utility/hover';

:root{
	// 0, 1, 1, 2, 3, 5, 8, 13, 21, 34

	// border-radius
	--ls--radius--xs: 2px;
	--ls--radius--sm: 5px;
	--ls--radius--md: 13px;
	--ls--radius--lg: 21px;
	--ls--radius--xl: 34px;
	--ls--radius--round: 999px;
	// 1,2,4,6,8,12 ... ?
	// 1,2,3,5,8,13,21, 34, ... 999px ?
}

.-bdrs\:xs{
	border-radius: var(--ls--radius--xs) !important;
}
.-bdrs\:sm{
	border-radius: var(--ls--radius--sm) !important;
}
.-bdrs\:md{
	border-radius: var(--ls--radius--md) !important;
}
.-bdrs\:lg{
	border-radius: var(--ls--radius--lg) !important;
}
.-bdrs\:xl{
	border-radius: var(--ls--radius--xl) !important;
}
.-bdrs\:round{
	border-radius: var(--ls--radius--round) !important;
}

// display
.-d\:n{
	display: none;
}
.-d\:b{
	display: block;
}
.-d\:i{
	display: inline;
}
.-d\:if{
	display: inline-flex;
}
.-d\:ib{
	display: inline-block;
}

@container (max-width: 720px) {
	.-d\:n-\@sm{
		display: none;
	}
	.-d\:b-\@sm{
		display: block;
	}
}

@container (max-width: 440px) {
	.-d\:n-\@xs{
		display: none;
	}
	.-d\:b-\@xs{
		display: block;
	}
}


//カラー系
.-c\:white{
	color:#fff;
}
.-c\:black{
	color:#000;
}

.-c\:main{
	color: var(--ls--color--main);
}
.-c\:sub{
	color: var(--ls--color--sub);
}
.-c\:accent{
	color: var(--ls--color--accent);
}
.-c\:base{
	color: var(--ls--color--base);
}
.-c\:bgSub{
	color: var(--ls--color--bgSub);
}
.-c\:link{
	color:  var(--ls--color--link);
}
.-c\:text{
	color:  var(--ls--color--text);
}
.-c\:gray{
	color: var(--ls--color--gray);
}


.-bgc\:main{
	background-color: var(--ls--color--main);
}
.-bgc\:sub{
	background-color: var(--ls--color--sub);
}
.-bgc\:accent{
	background-color: var(--ls--color--accent);
}
.-bgc\:base{
	background-color: var(--ls--color--base);
}
.-bgc\:bgSub{
	background-color: var(--ls--color--bgSub);
}
.-bgc\:text{
	background-color:  var(--ls--color--text);
}
.-bgc\:gray{
	background-color: var(--ls--color--gray);
}
.-bgc\:white{
	background-color:#fff;
}
.-bgc\:black{
	background-color:#000;
}



// text-align
.-ta\:c {
	text-align: center;
}
.-ta\:r {
	text-align: right;
}
.-ta\:l {
	text-align: left;
}


// line-hegiht
// .-lh\:1\.2 {
// 	line-height: 1.2;
// }
// .-lh\:1\.5 {
// 	line-height: 1.5;
// }


// clear float
// .-cf::after {
// 	display: block;
// 	clear: both;
// 	width: 0;
// 	height: 0;
// 	content: "";
// }

// その他
.-lis\:n{
	list-style: none;
}

// Layer の基点を作るためにrelativeにしたいことがある
.-pos\:r{
	position: relative;
}
// .-pos\:f{
// 	position: fixed;
// }
// .-pos\:a{
// 	position: absolute;
// }

// 折返し禁止
// .i--nowrap,
.-whs\:nw {
	white-space: nowrap;
}

// 単語中でも折り返しさせる
// ※ ovw は emmetの正式定義ではない.
.-ovw\:any{
	overflow-wrap: anywhere;
}
