// State
// @forward './state.scss';

// コンポーネント
@forward '../components/Box/style.scss';
@forward '../components/Grid/style.scss';
@forward '../components/Columns/style.scss';
@forward '../components/AreaGrid/style.scss';
@forward '../components/RatioGrid/style.scss';
@forward '../components/TileGrid/style.scss';
@forward '../components/SideFix/style.scss';
@forward '../components/Layer/style.scss';
@forward '../components/Frame/style.scss';
@forward '../components/Reel/style.scss';
@forward '../components/Divider/style.scss';
@forward '../components/Tab/style.scss';
@forward '../components/Icon/style.scss';
@forward '../components/Delimiter/style.scss';
// @forward '../components/PinGallery/style.scss';

// block module?
@forward '../components/LinkBox/style.scss';
@forward '../components/Banner/style.scss';
@forward '../components/Card/style.scss';
@forward '../components/Notice/style.scss';
@forward '../components/Accordion/style.scss';
@forward '../components/Section/style.scss';


// _
// @forward '../components/FlexColumns/style.scss';


// test
.ex-cards{
	--h: 20em;
	--fxb--expanded: 60%;
	display: flex;
	height: var(--h);
	align-items: stretch;
	
	.ex-cards__content{
		// visibility: hidden;
		// opacity: 0;
		max-height: 100%;
		width: max(20em, 200%);
		transition-property: opacity, width, visibility;
		transition-duration: .3s;
	}

	> * {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 10%;
		transition: flex-basis 0.3s; //, flex-grow 0.3s;
		overflow: hidden;
		position: relative;

		// > * {
		// 	visibility: hidden;
		// }

		// height: 100%;
		&:hover,
		&:focus{
			// flex-grow: var(--fxg--expanded); // 複数開いてしまった時に、grow で管理していたほうがどちらも見える?
			flex-basis: var(--fxb--expanded);

			> .ex-cards__content{
				visibility: visible;
				width: 100%;
				opacity: 1;
			}
		}
	 }
}
