// theme , プロジェクトで読み込むようなスタイル郡

// root定義
// @forward './base/root';
// @forward './base/elements';
// @forward './base/nowp';
// @forward './system';
// @forward './utility';

body{
	// WPでは theme.json 設定によって出力される
	background-color: var(--c--bg); // var(--wp--preset--c--bg-primary);
	color: var(--c--text); // var(--wp--preset--c--text-normal);
	font-family: var(--root--ff); //var(--wp--preset--font-family--system-font);
	font-size: var(--root--fz);
	line-height: var(--root--lh);
	margin: 0;
}

a {
	color: var(--c--link);
	text-decoration: underline;
}

//html系

// dl{}
// dt{}
dd {
	margin-inline-start: var(--space--50);
}

/* ---------- インライン装飾 ---------- */
// kbd,
:where(:not(pre)) > code {
	// display: inline-block;
	color: var(--c--code);
	background-color: var(--bgc--code);
	padding: 0.25em 0.325em;
	font-size: var(--fz--s);// .9em;
	font-family: Menlo, Consolas, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "メイリオ", sans-serif;
	letter-spacing: 0;
	text-decoration: inherit;
	border-radius: var(--radius--1);
	border: solid 1px rgba(80, 80, 80, 0.075);
}


// adminbarの高さ,ヘッダー要素などの高さを考慮してstickyさせる。
// .is--sticky {
// 	// --wp-admin--admin-bar--position-offset:var(--wp-admin--admin-bar--height, 0px);
// 	// headerに付けたときはadmin-bar だけを考慮すればいいが、 a--main内部のときはhedderの高さ（headerが固定されていれば）も考慮する
// }

