.lism-iconPickerModal {
	width: 600px;
	height: 100%;

	.components-tab-panel__tabs {
		position: absolute;
		top: 72px;
		right: 32px;
		left: 32px;
		background: #fff;
	}

	.__search {
		position: absolute;
		top: 120px;
		right: 32px;
		left: 32px;
		padding-top: 8px;
		background: #fff;

		.components-base-control__field {
			margin-bottom: 0;
		}
	}

	.__iconList {

		&.__icon {
			margin-top: 112px;
		}

		&.__emoji {
			margin-top: 64px;
		}

		.components-button {
			justify-content: center;
			width: 36px;
			padding: 4px;
			font-size: 24px;

			svg {
				width: 100%;
				height: 100%;
			}
		}
	}
}
