
.l--accordion {
	--isOpened: 0;
	--duration: .25s;

	// 開いた時
	&.-opened{
		--isOpened: 1;
	}
}



.l--accordion__header {
	// background: var(--c--lightgray);
	cursor: pointer;
	
	/* Safariで表示されるデフォルトの三角形アイコンを消します */
	&::-webkit-details-marker {
		display: none;
	}
}

// .l--accordion__label {
// 	grid-area: label;
// 	// flex: 1 1 auto;
// 	// overflow-wrap: anywhere;
// }

.l--accordion__body {
	--gtr: 1fr;
	transition-property: padding, opacity, grid-template-rows;
	transition-duration: var(--duration);
}

// ※ 正常なanimation に必須
.l--accordion__bodyInner{
	overflow: hidden;
}

// 閉じている時
.l--accordion:not(.-opened)  {
	> .l--accordion__body{
		opacity: 0.1;
		--gtr: 0fr;
		// grid-template-rows: 0fr;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
}

// アコーディオンブロックのネスト時、別のアイコンタイプにすると表示が崩れるがそこまでは考慮しない。
.l--accordion__icon {
	--bgc: none;
	--p: .5em;
	--bdc: currentColor;
	--bd: solid 1px var(--bdc);
	// --gta: "icon";

	// __icon 自体にborderつけたりすると回転が見えてしまうので、 icon自体を回転させる。
	> .e--icon{
		// grid-area: icon;
		transition: rotate .25s;
		rotate: calc(0deg - var(--isOpened) * 180deg);
		// transform: scale(1.125);
	}
	> .e--icon[data-to="open"]{
		opacity: calc(1 - var(--isOpened));
	}
	> .e--icon[data-to="close"]{
		opacity: calc(0 + var(--isOpened));
		position: absolute;
		// opacity: 0;
	}
}



[data-clickable="icon"]{
	>.l--accordion__header{
		pointer-events: none;
	}
}

.l--accordion__label > a,
.l--accordion__icon{
	pointer-events: auto;
}

// .-opened > .l--accordion__header > .l--accordion__icon {
// 	transform: rotate(180deg);

// 	// [data-icon-type="plus"] > .-opened でちゃんと指定したいがCSS長くなるのでdata指定なしでいく
// 	// &::after {
// 	// 	opacity: 0;
// 	// }
// }
