
.l--accordion {
	--isOpened: 0;
	--duration: .25s;

	// 開いた時
	&.-opened{
		--isOpened: 1;
	}
}

:where(.l--accordion__header){
	--p: 0 var(--space--30);
	--gap: var(--space--30);
	--bdrs: var(--radius--1);
}
.l--accordion__header {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--p);
	gap: var(--gap);
	border-radius: var(--bdrs);
	
	/* Safariで表示されるデフォルトの三角形アイコンを消します */
	&::-webkit-details-marker {
		display: none;
	}
}

.l--accordion__label {
	flex-grow: 1;
	overflow-wrap: anywhere;
	padding: var(--space--30) var(--space--10);
}

:where(.l--accordion__body){
	--p: var(--space--40);
}
.l--accordion__body {
	display: grid;
	grid-template-rows: 1fr;
	transition-property: padding, opacity, grid-template-rows;
	transition-duration: var(--duration);
	padding: var(--p);
}

.l--accordion__bodyInner{
	overflow: hidden; // ※ 正常な animation に必須
	--ls--flowGap: var(--space--40);
}

// 閉じている時
.l--accordion:not(.-opened)  {
	> .l--accordion__body{
		opacity: 0.1;
		grid-template-rows: 0fr;
		// grid-template-rows: 0fr;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
}

// アコーディオンブロックのネスト時、別のアイコンタイプにすると表示が崩れるがそこまでは考慮しない。
.l--accordion__icon {
	display: flex;
	// --gta: "icon";

	// __icon 自体にborderつけたりすると回転が見えてしまうので、 icon自体を回転させる。
	> .e--icon{
		// grid-area: icon;
		transition: rotate .25s;
		rotate: calc(0deg - var(--isOpened) * 180deg);
	}
	> .e--icon[data-to="open"]{
		opacity: calc(1 - var(--isOpened));
	}
	> .e--icon[data-to="close"]{
		opacity: calc(0 + var(--isOpened));
		position: absolute;
		rotate: calc(180deg - var(--isOpened) * 180deg);
	}
}

.l--accordion__label > a,
.l--accordion__icon{
	pointer-events: auto;
}

// [data-clickable="icon"] のとき
button.l--accordion__icon{
	padding: .325em;
	border: solid 1px currentColor;
	border-radius: var(--radius--1);
}

[data-clickable="icon"] {
	>.l--accordion__header{
		pointer-events: none;
	}
}


// .-opened > .l--accordion__header > .l--accordion__icon {
// 	transform: rotate(180deg);

// 	// [data-icon-type="plus"] > .-opened でちゃんと指定したいがCSS長くなるのでdata指定なしでいく
// 	// &::after {
// 	// 	opacity: 0;
// 	// }
// }
