---
import PlainLayout from '~/layouts/PlainLayout.astro';
---

<PlainLayout>
	<p>lorem ipsum text</p>

	<ul class='l--flex'>
		<li>Flex List</li>
		<li>
			List Item 2
			<ul>
				<li>Unordered List</li>
				<li>List Item 2</li>
			</ul>
		</li>
	</ul>

	<ul class='is-style-icon--dot'>
		<li>Unordered List</li>
		<li>
			List Item 2
			<ul>
				<li>Unordered List</li>
				<li>List Item 2</li>
			</ul>
		</li>
	</ul>

	<ul class='is-style-icon--check'>
		<li>Check List</li>
		<li>
			List Item 2
			<ul>
				<li>Unordered List</li>
				<li>List Item 2</li>
			</ul>
		</li>
	</ul>

	<ul class='is-style-icon--caret'>
		<li>Check List</li>
		<li>
			List Item 2
			<ul>
				<li>Unordered List</li>
				<li>List Item 2</li>
			</ul>
		</li>
	</ul>
	<ul class='mylist'>
		<li>Unordered List</li>
		<li>List Item 2</li>
		<li>
			List Item 3
			<ul>
				<li>Unordered List</li>
				<li>
					List Item 2
					<ul>
						<li>Unordered List</li>
						<li>
							List Item 2
							<ul>
								<li>Unordered List</li>
								<li>List Item 2</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>

	<ol>
		<li>Ordered List</li>
		<li>
			List Item 2
			<ul>
				<li>Unordered List</li>
				<li>
					List Item 2
					<ul>
						<li>Unordered List</li>
						<li>List Item 2</li>
					</ul>
				</li>
			</ul>
		</li>
		<li>
			List Item 3
			<ol>
				<li>Ordered List</li>
				<li>
					List Item 2
					<ol>
						<li>Ordered List</li>
						<li>
							List Item 2
							<ol>
								<li>Ordered List</li>
								<li>List Item 2</li>
							</ol>
						</li>
					</ol>
				</li>
			</ol>
		</li>
	</ol>
</PlainLayout>
