// Alert は --keycolor が常に渡ってくる
.c--alert {
	:where(&) {
		--fluid--minW: 16rem; // .l--fluidFix より優先度高くなるように注意
		--keycolor: var(--gray);
		--icon--c: var(--keycolor);
		--icon--size: 1.4em; //var(--fz--xl); //1.325em;
		--bdc: var(--keycolor);
		--bgc: transparent;
		padding: var(--p--box--s);
		gap: var(--p--box--s); //0.75em;
		// line-height: var(--lh--s);
		// border-radius: var(--radius--2);
		align-items: center;
		background-color: var(--bgc);
		border: solid 1px var(--bdc);
	}

	// color-mixのサポートチェック
	// srgb-linear
	@supports (color: color-mix(in srgb, #000, #fff)) {
		--bdc: color-mix(in srgb, var(--keycolor), transparent var(--cMixPer--bd));
		--bgc: color-mix(in srgb, var(--keycolor), transparent var(--cMixPer--bg));

		// 親でカラー指定があればそれを引き継げるように
		--link--c: color-mix(
			in srgb,
			var(--keycolor),
			var(--c, var(--c--base)) var(--cMixPer--text)
		);
		--code--c: var(--link--c);
		--code--bgc: var(--bgc);
		// --code--bdc: var(--bgc);
	}
}

.c--alert__icon {
	color: var(--icon--c);
	font-size: var(--icon--size);
	// flex-shrink: 0;
}
