// Alert は --keycolor が常に渡ってくる

:where(.b--alert) {
	// --keycolor: var(--gray);
	--icon--c: var(--keycolor);
	--bdc: var(--keycolor);
	--bgc: transparent;
	--p: var(--space--35);
	--gap: var(--space--30);
	--bdrs: var(--radius--2);

	background-color: var(--bgc);
	border: solid 1px var(--bdc);
	padding: var(--p);
	align-items: center;
	border-radius: var(--bdrs);
}

.b--alert {
	background-color: var(--bgc);
	border: solid 1px var(--bdc);
	padding: var(--p);
}

.b--alert__icon {
	color: var(--icon--c);
}

// .-scale: で上書きできる詳細度で
// :where(.b--alert__icon > .e--icon){
// 	scale: 1.125;
// }

.b--alert {
	// color-mixのサポートチェック
	// srgb-linear
	@supports (color: color-mix(in srgb, #000, #fff)) {
		// color: color-mix(in srgb, var(--keycolor), var(--c--base) 90%);
		--bdc: color-mix(in srgb, var(--keycolor), transparent var(--cMixPer--bd));
		--bgc: color-mix(in srgb, var(--keycolor), transparent var(--cMixPer--bg));

		// 親でカラー指定があればそれを引き継げるように
		--link--c: color-mix(
			in srgb,
			var(--keycolor),
			var(--c, var(--c--base)) var(--cMixPer--text)
		);
	}
}
