:root {
	--h--fixedTop: 0px;
	--h--fullscreen: calc(100vh - var(--h--fixedTop));
}

.b--section {
	--mih: auto;
	position: relative;
	min-height: var(--mih);

	+ .alignfull {
		margin-block-start: 0;
	}

	.l--divider {
		z-index: 1;
	}

	.b--section__inner {
		// display: grid;
		--gta: 'header' 'body' 'footer';
		--gtc: 100%;
		--gtr: auto 1fr auto;
		flex-grow: 1;
		height: 100%;
	}
	.b--section__header {
		grid-area: header;
	}
	.b--section__body {
		grid-area: body;
		align-self: center;
		height: auto; // 100% にしない
	}
	.b--section__footer {
		grid-area: footer;
	}

	.b--section__content {
		// flex-grow: 1; // height:100% が効くように
		// height: 100%;
		position: relative;
		z-index: 1;
	}

	// data-height
	// &[data-height="auto"] {
	// 	--mih: 0;
	// }

	// .b--section__bg {
	// 	background-color: #f7f7f7;
	// }

	// stack と一緒に使う ?
	// .b--section__header,.b--section__footer {
	// 	z-index: 1;
	// }

	> :not([class*='l--layer']) {
		z-index: 1;
	}

	// .b--section__content {
	// 	margin-top: auto;
	// 	margin-bottom: auto;
	// }

	// .b--section__head{}
	// .b--section__foot{}

	&[data-fullscreen='1'] {
		--mih: var(--h--fullscreen, 100vh);
		// min-height: 100vh;
	}
}
